.sign_up-wrapper{
    
    .sign_up-bg{
        background-image: url(../img/log_in/bg.png);
        background-repeat: no-repeat;
        height: 1601px;
        margin-top: 100px;
        .sign_up-login-box{
            width: 40%;
            height: 200px;
            margin-bottom: 60px;
            margin-left: 8%;

            h2{
                font-size: 48px;
                font-weight: bold;
                color: #533C1B;
                letter-spacing: .8rem;
                padding: 4rem 5.2rem 1rem;
            }

            h3{
                font-size: 32px;
                font-weight: bold;
                color: #C09351;
                padding-bottom: 2rem;
                display: block;
                padding-left: 18vw;
                padding-right: 5.2rem;
                letter-spacing: .68rem;
                position: relative;

                &::after{
                    content: '';
                    height: 3px;
                    width: 120px;
                    background-color: #261C0D;
                    display: block;
                    position: absolute;
                    right: 58%;
                    bottom: 37px;
                
                }
            }
      
        }
        .sign_up-login-content{
            margin: 0 auto;
            width: 45%;
            height: 1090px;    
            background-color: #fff;
            padding-top: 60px;

            .sign_up-login-width{
                display: block;
                margin: 0 auto;
                width: 80%;
                .sign_up-google-btn{
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                    background-color: #CFB58F;
                    text-align: center;
                    line-height: 70px;
                    text-decoration: none;
    
                    .sign_up-h3{
                        display: block;
                        position: relative;
                        width: 33%;
                        margin: 0 auto;
                    }
    
                    .sign_up-h3::before{
                        content: url(../img/log_in/google\ icon.png);
                        position: absolute;
                        left: -55px;
                        top: 18%;
                    }
                }
                .sign_up-or{
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                .sign_up-dotted-line{
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 78px;

                     p{
                        font-size: 16px;
                        margin-left: 20px;
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }

                    input{
                        display: block;
                        margin: 0 auto;
                        width: 95%;
                        height: 50px;
                        border-radius: 3px;
                        margin-bottom: 20px;
                        font-size: 16px;
                        border-color: #261C0D;
                    }

                }
                button{
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    height: 50px;
                    background-color: #533C1B;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                }
                .sign_up-last-line{
                    padding-top: 25px;
                    width: 200px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;

                    .log_in-singin{
                        text-decoration: none;
                        color: #261C0D;
                    }

                } 

            }
            

        }

    }

}

