@import url("reset.css");

main.aboutAs {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

main.aboutAs * {
    box-sizing: border-box;
}
/* ---------------------banner----------------------- */

.banner{
    max-width: 1200px;
    margin: auto;
    
}

.banner .banner__word__img{
    display: flex;
    max-width: 100%;
    margin: 120px auto 0;
}

/* 文字標題區塊 */

.banner .banner__word{
    width: 800px;
       
}

.banner h1.banner__zh{
    font-size: 64px;
    color: #533C1B;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
}

.banner h2.banner__en{
    font-size: 48px;
    color: #C09351;
    font-weight: bold;
    margin-left: 45px;
    line-height: 2;
}

.banner h2.banner__en::after{
    content: "";
    border: 2px solid black;
    display: block;
}

.banner h3.banner__slogn__zh{
    font-size: 40px;
    color: #261C0D;
    font-weight: bold;
    margin-left: 170px;
    line-height: 1.6;
    margin-top: 15px;
}

.banner h3.banner__slogn__zh span{
    margin-left: 95px;
}

/* 圖片區塊 */
.banner .banner__img ul{
    display: flex;
}
.banner .banner__img img{
    max-width: 100%;
    padding-left: 15px;
}

/* slogn區塊 */
.banner h2.banner__slogn_en{
    color: #618985;
    text-align: center;
    line-height: 3;
    font-size: 48px;
}

/* ---------------------關於韶光區塊----------------------- */

.about__goodtime,.getting__here,.contact__us{
    max-width: 1000px;
    margin: auto;
    /* outline: 2px solid red; */
}

.about__goodtime__title__eng,.getting__here__title__eng,.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.about__goodtime__title__zh,.getting__here__title__zh,.gcontact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 180px;
    font-weight: bold;
}

.about__goodtime__title__zh::before,.getting__here__title__zh::before,.gcontact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -17%;
    background: #533C1B;
    width: 16%;
    height: 2px;
}

.about__goodtime__para1para2{
    display: flex;
    position: relative;
}

.about__goodtime__para1 p{
    line-height: 2;
    margin: 100px auto 60px;
    width: 290px;
}

.about__goodtime__para1 img{
    margin-left: 15px;
}

.about__goodtime__para2{
    margin-left: 120px;
}

.about__goodtime__para2 p{
    line-height: 2;
    margin: 100px auto 60px;
    padding: 10px;
    width: 520px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    background-color: rgba(255, 255, 255,.5);
}

.about__goodtime__para3 img{
    margin: 50px auto 0px;
    display: block;
}

.about__goodtime__para3 p{
    line-height: 2;
    margin: 30px auto 10px;
    width: 760px;
}

.about__goodtime img{
    max-width: 100%;
}

/* ---------------------交通資訊區塊----------------------- */
.getting__here__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.getting__here__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 250px;
    font-weight: bold;
    margin-bottom: 50px;
}

.getting__here__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -21%;
    background: #533C1B;
    width: 20%;
    height: 2px;
}

.getting__here__map iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.getting__here .para .fa-solid{
    font-size: 50px;
    color: #533C1B;
    margin-right: 100px;
}

.getting__here .para p{
    color: #C09351;
    line-height: 3;
}

.para{
    margin-left: 100px;
    margin: 100px auto 0;
}

.para td{
    line-height: 2;
}

.para__bus p,.para__train p{
    padding-left: 14px;
}

.para__bus i,.para__train i{
    margin-left: 8px;
}

.para__car i{
    margin-left: 6px;
}

.para__parking i{
    margin-left: 10px;
}


/* ---------------------表單區塊----------------------- */

.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.contact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 215px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    background: #533C1B;
    width: 14%;
    height: 2px;
}

.contact__us__form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact__us__form label{
    color: #261C0D;
    margin-bottom: 5px;
}

.contact__us__form input{
    height: 30px;
    margin-bottom: 15px;
    color: #533C1B;
}

.contact__us__form .email input{
    border: 2px solid red;
}

.contact__us__form textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact__us__form input.valid{
    border:2px solid green;
  }
.contact__us__form input.invalid{
    border:2px solid red;
  }

.contact__us__form button{
    background-color: white;
    border: 1.5px solid #533C1B;
    width: 200px;
    height: 50px;
    color: #533C1B;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 50px;
}
