@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Ephesis&family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  font-family: "Enriqueta", "Noto Sans TC";
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h6 {
  font-size: 24px;
}

body {
  position: relative;
}
body .warpper-news-detail {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 107px;
}
body .warpper-news-detail .bread-news-detail {
  position: relative;
  margin-left: 20px;
}
body .warpper-news-detail .bread-news-detail ol {
  display: flex;
}
body .warpper-news-detail .bread-news-detail li {
  margin: 9px 8px;
  font-size: 12px;
  font-weight: bolder;
}
body .warpper-news-detail .bread-news-detail li:first-child::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 1px;
  background: black;
  height: 12px;
}
body .warpper-news-detail .bread-news-detail li a {
  text-decoration: none;
  color: #000;
}
body .warpper-news-detail .bread-news-detail li a:hover {
  color: #618985;
}
body .detail-information {
  padding: 10px 0 0 20px;
  line-height: 2;
}
body .detail-information small {
  font-size: 16px;
  color: #B3B3B3;
  padding-left: 15px;
}
body .detail-information h4 {
  font-size: 32px;
  font-weight: bold;
}
body .detail-information img {
  width: 100%;
}
body .detail-information p {
  font-size: 28px;
  padding-top: 60px;
}
body .change-next-page ul {
  display: flex;
  margin: 70px auto;
  margin-left: 20px;
  align-items: center;
  justify-content: space-around;
}
body .change-next-page ul::before {
  content: "";
  width: 3px;
  height: 103px;
  background-color: black;
  transform: rotate(-90deg) translate(0px, 155px);
}
body .change-next-page ul::after {
  content: "";
  width: 3px;
  height: 103px;
  background-color: black;
  transform: rotate(-90deg) translate(0px, -155px);
}
body .change-next-page li.arrow-left {
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  margin-bottom: 5px;
  margin-right: 145px;
}
body .change-next-page li.arrow-right {
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 5px;
  margin-left: 145px;
  transform: rotate(-45deg);
}
body .change-next-page a {
  font-size: 30px;
  color: #261C0D;
}

/*# sourceMappingURL=news_detail.css.map */
