.product-detail{
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
.product-detail .Bread-crumbs{
    width: 100%;
    height: 80px;
}
.product-detail .Bread-crumbs > ul{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}
.product-detail .Bread-crumbs > ul :last-child > a{
    color: #618985;
    border: none;
}
.product-detail .Bread-crumbs > ul > li{
    text-align: center;
    margin-right: 20px;
}
.product-detail .Bread-crumbs > ul > li >a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding-right: 20px;
    border-right: 2px solid #000;
}


.product-detail .main{
    display: flex;
    width: 80%;
    height: 400px;
    padding-left: 20%;
}
.product-detail .main .img-box{
    width: 50%;
    height: 100%;
}
.product-detail .img-box .slider{
    width: 100%;
    height: 70%;
    background-image: url('../img/product_detail/item01.png');
    background-position: bottom;
    background-size: cover;
    margin: auto;
    transition: all 0.5s;
}
.product-detail .img-box .indicator{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.product-detail .indicator li{
    width: 25%;
    height: 100%;
    display: block;
    float: left;
}
.product-detail .indicator li img{
    max-width: 100%;
}
.product-detail .main .function-box{
    background-color: #fff;
    width: 50%;
    height: 100%;
}
.product-detail .function-box .textbox{
    margin-left: 40px;
}
.product-detail h4{
    font-size: 32px;
    font-weight: 500;
    color: #533C1B;
    margin-bottom: 20px;
}
.product-detail .textbox p{
    font-size: 16px;
    font-weight: 400;
    color: #C3BCB1;
    margin-bottom: 20px;
}
.product-detail .textbox h6{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.spotlight-color{
    color: #618985 !important; 
}

.product-detail .function-box .typebox{
    margin-left: 40px;
}
.product-detail .typebox p{
    font-size: 16px;
    font-weight: 500;
    color: #533C1B;
    margin-bottom: 10px;
}
.product-detail .typebox .function-btn-group{
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.product-detail .function-btn-group_btn{
    margin-right: 10px;
    width: 60px;
    height: 30px;
    position: relative;
    text-align: center;
} 
.function-btn-group_btn label,
.function-btn-group_btn input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    outline: 2px solid #C3BCB1;
    color: #C3BCB1;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-weight: 500;
}
.function-btn-group_btn input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    cursor: pointer;
}
  
.function-btn-group_btn input[type="radio"]:checked + label {
    border-radius: 4px;
    outline: 2px solid #533C1B;
    color: #533C1B;
}
  
.function-btn-group_btn label {
    cursor: pointer;
    z-index: 90;
}
.product-detail .typebox form{
    width: 80%;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
.product-detail .qtyminus,.qtyplus{
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 100%;
    color: #fff;
    background-color: #C09351;
    border: none;
    cursor: pointer;
}
.product-detail .qty{
    margin: -5px;
    padding: 0px;
    height: 100%;
    text-align: center;
    border: 2px solid #C09351;
}

.product-detail .info-box{
    width: 60%;
    margin: 100px auto 100px;
}
.product-detail .info-box .switch-btnbox{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 2px solid #C3BCB1;
}
.product-detail .switch-btnbox .switch-btn{
    width: 33.33333%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.product-detail .switch-btn a{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    transition: all 0.3s;
}
.product-detail .info-page-box{
    width: 100%;
}
.product-detail .info-page-box h6{
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
    border-left: 10px solid #C09351;
}
.product-detail .info-page-box p{
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 1.6;
}
.product-detail .mark{
    font-weight: 700;
    font-size: 18px;
}