@import url("../reset.css");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Ephesis&family=Noto+Sans+TC:wght@400;700&display=swap");
@import url(../../../scss/base/var/_color.scss);
* {
  font-family: "Enriqueta", "Noto Sans TC";
}

main.shops__Join__form {
  max-width: calc(100vw - 120px);
  margin: 100px auto;
}

.shops__Join__form .breadcrumb {
  display: flex;
}
.shops__Join__form .breadcrumb li a {
  text-decoration: none;
  color: #261C0D;
  line-height: 2;
  letter-spacing: 2px;
}
.shops__Join__form .breadcrumb .breadcrumb__a a::after {
  content: "";
  height: 14px;
  border-left: solid 1px black;
  display: inline-block;
  margin: 0 5px;
}
.shops__Join__form .breadcrumb .breadcrumb__b a {
  color: #618985;
}
.shops__Join__form ul.banner {
  height: 500px;
  margin: 0 auto;
  display: flex;
}
.shops__Join__form ul.banner li {
  background-position: center center;
  background-size: cover;
  transition: 0.5s;
}
.shops__Join__form ul.banner li:hover {
  flex-grow: 6;
}
.shops__Join__form li.item1 {
  background-image: url("../../../img/shops__Join__form/shops__Join__form_1.png");
  flex-grow: 3;
}
.shops__Join__form .banner li.item2 {
  background-image: url("../../../img/shops__Join__form/shops__Join__form_2.png");
  flex-grow: 1;
  background-position: left center;
}
.shops__Join__form .join__application__title {
  margin: 50px 50px 100px;
}
.shops__Join__form .join__application__title div.join__application__title__eng {
  font-size: 32px;
  color: #533C1B;
  font-weight: bold;
  line-height: 1.6;
}
.shops__Join__form .join__application__title div.join__application__title__zh {
  font-size: 28px;
  color: #C09351;
  position: relative;
  display: block;
  margin-left: 220px;
  font-weight: bold;
}
.shops__Join__form .join__application__title div.join__application__title__zh::before {
  content: "";
  position: absolute;
  top: 49%;
  left: -15%;
  background: #533C1B;
  width: 14%;
  height: 2px;
}
.shops__Join__form .Join__form {
  max-width: fit-content;
  margin: 0 auto;
}
.shops__Join__form .Join__form input.shop__name,
.shops__Join__form .Join__form input.name,
.shops__Join__form .Join__form input.phone,
.shops__Join__form .Join__form input.email {
  width: 400px;
  height: 30px;
  border-color: #878787;
  border-bottom: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  outline: 0;
}
.shops__Join__form .Join__form input {
  margin-bottom: 50px;
}
.shops__Join__form .Join__form label {
  letter-spacing: 1px;
}
.shops__Join__form .Join__form input.shop__name {
  margin-left: 16px;
}
.shops__Join__form .Join__form div.shopstay__time {
  display: flex;
}
.shops__Join__form .Join__form div.shopstay__time__1,
.shops__Join__form .Join__form div.shopstay__time__2,
.shops__Join__form .Join__form div.shopstay__time__3 {
  margin-left: 15px;
}
.shops__Join__form .Join__form div.file {
  background-color: #D9D9D9;
  width: 500px;
  height: 40px;
  margin: auto;
  text-align: center;
}
.shops__Join__form .Join__form .file__choose {
  position: relative;
  display: inline-block;
  background: #533C1B;
  border: 1px solid #533C1B;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.shops__Join__form .Join__form .file__choose:hover {
  background: #C09351;
  border-color: #C09351;
  color: white;
  text-decoration: none;
}
.shops__Join__form .Join__form .file__choose input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.shops__Join__form .Join__form p.Opinion {
  margin: 50px auto 20px;
}
.shops__Join__form .Join__form textarea.Opinion__text {
  width: 500px;
  resize: none;
}
.shops__Join__form .Join__form button.Join__form__btn {
  border: 2px solid #533C1B;
  background-color: white;
  width: 200px;
  height: 50px;
  color: #533C1B;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: 0.3s;
  margin: 50px auto 50px;
}

/*# sourceMappingURL=shop_join_form.css.map */
