@import url(./reset.css);

:root {
    font-family: 'Enriqueta', 'Noto Sans TC';
    --brown-color: #533C1B;
    --carmel-color: #C09351;
    --carmel-tgh-color: rgb(192, 147, 81, .5);
    --sub-skin-color: #F6E6CF;
    --sub-carmel-color: #CFB58F;
    --sub-LTgray-color: #D9D9D9;
    --sub-gray-color: #C3BCB1;
    --sub-DKgray-color: #B3B3B3;
    --font-color: #261C0D;
    --lakeGreen-color: #618985;
    --warning-color: #CD4B21;
    --fb-color: #375798;
}

.display__none {
    display: none !important
}

* {
    font-family: 'Enriqueta', 'Noto Sans TC';
}

main.rental {
    max-width: calc(100vw - 100px);
    margin: 0 auto;
}

main.rental * {
    box-sizing: border-box;
}

main.rental a {
    text-decoration: none;
    color: var(--font-color)
}

.rental .breadcrumb {
    display: flex;
    min-width: 100%;
    padding: 5px 8%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    color: var(--font-color);
}

.rental .breadcrumb li:nth-child(even)::before {
    content: "";
    height: .6rem;
    border-left: solid 1px black;
    display: inline-block;
    margin: 0 .5rem;
}

.rental .breadcrumb li:nth-child(even) a {
    color: var(--lakeGreen-color)
}

.rental .breadcrumb a {
    font-size: .8rem;
    line-height: 20px;
}

.rental .banner {
    position: relative;
}

.rental .banner__img {
    background-image: url(../../img/banner/banner__rental.png);
    height: 470px;
    background-position: 15% center;
}

.rental .banner__textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 57.5vw;
    /* height: 15rem; */
    background-color: rgba(256, 256, 256, .7);
}

.rental .banner__eng {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--brown-color);
    letter-spacing: .8rem;
    padding: 4rem 5.2rem 2rem;
}

.rental .banner__zh::before {
    content: "";
    width: 18vw;
    border-bottom: solid 3px var(--font-color);
    display: inline-block;
    margin-right: 2.8rem
}

.rental .banner__zh {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--carmel-color);
    padding-bottom: 2rem;
    display: block;
    padding-left: 20vw;
    padding-right: 5.2rem;
    letter-spacing: .68rem;
}


.rental article {
    padding: 3rem 0;
}

.rental article section {}

.rental article section h3,
.rental article section p,
.rental article section dl {
    width: 75vw;
    margin: 0 auto 25px;
}

.rental article section h3 {
    margin-top: 40px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    border-left: solid 4px var(--carmel-color);
}

.rental article section em {
    padding-left: .5rem;
}

.rental article small {}

.rental article section p {
    padding-left: 1.3rem;
    line-height: 2rem;
}

.rental article section dl {
    padding-left: 1.3rem;
    line-height: 2.5rem;

}

.rental article section dt {}

.rental article dt span {
    color: var(--lakeGreen-color)
}

.rental article section dd {
    line-height: 2rem;
}

.rental article section ul {
    padding-left: 2.3rem;

    list-style-type: disc;
}

.rental article .btn__ctn {
    width: fit-content;
    margin: 0 auto;
}

.rental article .btn__ctn .btn__apply {
    padding: 15px 50px;
    border: 0;
    background-color: var(--brown-color);
    border-radius: 3px;
    color: #fff;
}

.rental article .btn__ctn .btn__apply :hover {
    background-color: #fff;
}

.rental article .btn__ctn .btn__apply::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--brown-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    outline: 1px solid var(--red-color);
}

.rental article div.map {}

@import url("reset.css");

main.aboutAs {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

main.aboutAs * {
    box-sizing: border-box;
}
/* ---------------------banner----------------------- */

.banner{
    max-width: 1200px;
    margin: auto;
    
}

.banner .banner__word__img{
    display: flex;
    max-width: 100%;
    margin: 120px auto 0;
}

/* 文字標題區塊 */

.banner .banner__word{
    width: 800px;
       
}

.banner h1.banner__zh{
    font-size: 64px;
    color: #533C1B;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
}

.banner h2.banner__en{
    font-size: 48px;
    color: #C09351;
    font-weight: bold;
    margin-left: 45px;
    line-height: 2;
}

.banner h2.banner__en::after{
    content: "";
    border: 2px solid black;
    display: block;
}

.banner h3.banner__slogn__zh{
    font-size: 40px;
    color: #261C0D;
    font-weight: bold;
    margin-left: 170px;
    line-height: 1.6;
    margin-top: 15px;
}

.banner h3.banner__slogn__zh span{
    margin-left: 95px;
}

/* 圖片區塊 */
.banner .banner__img ul{
    display: flex;
}
.banner .banner__img img{
    max-width: 100%;
    padding-left: 15px;
}

/* slogn區塊 */
.banner h2.banner__slogn_en{
    color: #618985;
    text-align: center;
    line-height: 3;
    font-size: 48px;
}

/* ---------------------關於韶光區塊----------------------- */

.about__goodtime,.getting__here,.contact__us{
    max-width: 1000px;
    margin: auto;
    /* outline: 2px solid red; */
}

.about__goodtime__title__eng,.getting__here__title__eng,.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.about__goodtime__title__zh,.getting__here__title__zh,.gcontact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 180px;
    font-weight: bold;
}

.about__goodtime__title__zh::before,.getting__here__title__zh::before,.gcontact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -17%;
    background: #533C1B;
    width: 16%;
    height: 2px;
}

.about__goodtime__para1para2{
    display: flex;
    position: relative;
}

.about__goodtime__para1 p{
    line-height: 2;
    margin: 100px auto 60px;
    width: 290px;
}

.about__goodtime__para1 img{
    margin-left: 15px;
}

.about__goodtime__para2{
    margin-left: 120px;
}

.about__goodtime__para2 p{
    line-height: 2;
    margin: 100px auto 60px;
    padding: 10px;
    width: 520px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    background-color: rgba(255, 255, 255,.5);
}

.about__goodtime__para3 img{
    margin: 50px auto 0px;
    display: block;
}

.about__goodtime__para3 p{
    line-height: 2;
    margin: 30px auto 10px;
    width: 760px;
}

.about__goodtime img{
    max-width: 100%;
}

/* ---------------------交通資訊區塊----------------------- */
.getting__here__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.getting__here__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 250px;
    font-weight: bold;
    margin-bottom: 50px;
}

.getting__here__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -21%;
    background: #533C1B;
    width: 20%;
    height: 2px;
}

.getting__here__map iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.getting__here .para .fa-solid{
    font-size: 50px;
    color: #533C1B;
    margin-right: 100px;
}

.getting__here .para p{
    color: #C09351;
    line-height: 3;
}

.para{
    margin-left: 100px;
    margin: 100px auto 0;
}

.para td{
    line-height: 2;
}

.para__bus p,.para__train p{
    padding-left: 14px;
}

.para__bus i,.para__train i{
    margin-left: 8px;
}

.para__car i{
    margin-left: 6px;
}

.para__parking i{
    margin-left: 10px;
}


/* ---------------------表單區塊----------------------- */

.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.contact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 215px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    background: #533C1B;
    width: 14%;
    height: 2px;
}

.contact__us__form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact__us__form label{
    color: #261C0D;
    margin-bottom: 5px;
}

.contact__us__form input{
    height: 30px;
    margin-bottom: 15px;
    color: #533C1B;
}

.contact__us__form .email input{
    border: 2px solid red;
}

.contact__us__form textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact__us__form input.valid{
    border:2px solid green;
  }
.contact__us__form input.invalid{
    border:2px solid red;
  }

.contact__us__form button{
    background-color: white;
    border: 1.5px solid #533C1B;
    width: 200px;
    height: 50px;
    color: #533C1B;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 50px;
}

@import url("reset.css");

main.aboutAs {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

main.aboutAs * {
    box-sizing: border-box;
}
/* ---------------------banner----------------------- */

.banner{
    max-width: 1200px;
    margin: auto;
    
}

.banner .banner__word__img{
    display: flex;
    max-width: 100%;
    margin: 120px auto 0;
}

/* 文字標題區塊 */

.banner .banner__word{
    width: 800px;
       
}

.banner h1.banner__zh{
    font-size: 64px;
    color: #533C1B;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
}

.banner h2.banner__en{
    font-size: 48px;
    color: #C09351;
    font-weight: bold;
    margin-left: 45px;
    line-height: 2;
}

.banner h2.banner__en::after{
    content: "";
    border: 2px solid black;
    display: block;
}

.banner h3.banner__slogn__zh{
    font-size: 40px;
    color: #261C0D;
    font-weight: bold;
    margin-left: 170px;
    line-height: 1.6;
    margin-top: 15px;
}

.banner h3.banner__slogn__zh span{
    margin-left: 95px;
}

/* 圖片區塊 */
.banner .banner__img ul{
    display: flex;
}
.banner .banner__img img{
    max-width: 100%;
    padding-left: 15px;
}

/* slogn區塊 */
.banner h2.banner__slogn_en{
    color: #618985;
    text-align: center;
    line-height: 3;
    font-size: 48px;
}

/* ---------------------關於韶光區塊----------------------- */

.about__goodtime,.getting__here,.contact__us{
    max-width: 1000px;
    margin: auto;
    /* outline: 2px solid red; */
}

.about__goodtime__title__eng,.getting__here__title__eng,.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.about__goodtime__title__zh,.getting__here__title__zh,.gcontact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 180px;
    font-weight: bold;
}

.about__goodtime__title__zh::before,.getting__here__title__zh::before,.gcontact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -17%;
    background: #533C1B;
    width: 16%;
    height: 2px;
}

.about__goodtime__para1para2{
    display: flex;
    position: relative;
}

.about__goodtime__para1 p{
    line-height: 2;
    margin: 100px auto 60px;
    width: 290px;
}

.about__goodtime__para1 img{
    margin-left: 15px;
}

.about__goodtime__para2{
    margin-left: 120px;
}

.about__goodtime__para2 p{
    line-height: 2;
    margin: 100px auto 60px;
    padding: 10px;
    width: 520px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    background-color: rgba(255, 255, 255,.5);
}

.about__goodtime__para3 img{
    margin: 50px auto 0px;
    display: block;
}

.about__goodtime__para3 p{
    line-height: 2;
    margin: 30px auto 10px;
    width: 760px;
}

.about__goodtime img{
    max-width: 100%;
}

/* ---------------------交通資訊區塊----------------------- */
.getting__here__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.getting__here__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 250px;
    font-weight: bold;
    margin-bottom: 50px;
}

.getting__here__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -21%;
    background: #533C1B;
    width: 20%;
    height: 2px;
}

.getting__here__map iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.getting__here .para .fa-solid{
    font-size: 50px;
    color: #533C1B;
    margin-right: 100px;
}

.getting__here .para p{
    color: #C09351;
    line-height: 3;
}

.para{
    margin-left: 100px;
    margin: 100px auto 0;
}

.para td{
    line-height: 2;
}

.para__bus p,.para__train p{
    padding-left: 14px;
}

.para__bus i,.para__train i{
    margin-left: 8px;
}

.para__car i{
    margin-left: 6px;
}

.para__parking i{
    margin-left: 10px;
}


/* ---------------------表單區塊----------------------- */

.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.contact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 215px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    background: #533C1B;
    width: 14%;
    height: 2px;
}

.contact__us__form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact__us__form label{
    color: #261C0D;
    margin-bottom: 5px;
}

.contact__us__form input{
    height: 30px;
    margin-bottom: 15px;
    color: #533C1B;
}

.contact__us__form .email input{
    border: 2px solid red;
}

.contact__us__form textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact__us__form input.valid{
    border:2px solid green;
  }
.contact__us__form input.invalid{
    border:2px solid red;
  }

.contact__us__form button{
    background-color: white;
    border: 1.5px solid #533C1B;
    width: 200px;
    height: 50px;
    color: #533C1B;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 50px;
}

body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}


body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}


body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}


body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}
.product-detail{
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
.product-detail .Bread-crumbs{
    width: 100%;
    height: 80px;
}
.product-detail .Bread-crumbs > ul{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}
.product-detail .Bread-crumbs > ul :last-child > a{
    color: #618985;
    border: none;
}
.product-detail .Bread-crumbs > ul > li{
    text-align: center;
    margin-right: 20px;
}
.product-detail .Bread-crumbs > ul > li >a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding-right: 20px;
    border-right: 2px solid #000;
}


.product-detail .main{
    display: flex;
    width: 80%;
    height: 400px;
    padding-left: 20%;
}
.product-detail .main .img-box{
    width: 50%;
    height: 100%;
}
.product-detail .img-box .slider{
    width: 100%;
    height: 70%;
    background-image: url('../img/product_detail/item01.png');
    background-position: bottom;
    background-size: cover;
    margin: auto;
    transition: all 0.5s;
}
.product-detail .img-box .indicator{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.product-detail .indicator li{
    width: 25%;
    height: 100%;
    display: block;
    float: left;
}
.product-detail .indicator li img{
    max-width: 100%;
}
.product-detail .main .function-box{
    background-color: #fff;
    width: 50%;
    height: 100%;
}
.product-detail .function-box .textbox{
    margin-left: 40px;
}
.product-detail h4{
    font-size: 32px;
    font-weight: 500;
    color: #533C1B;
    margin-bottom: 20px;
}
.product-detail .textbox p{
    font-size: 16px;
    font-weight: 400;
    color: #C3BCB1;
    margin-bottom: 20px;
}
.product-detail .textbox h6{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.spotlight-color{
    color: #618985 !important; 
}

.product-detail .function-box .typebox{
    margin-left: 40px;
}
.product-detail .typebox p{
    font-size: 16px;
    font-weight: 500;
    color: #533C1B;
    margin-bottom: 10px;
}
.product-detail .typebox .function-btn-group{
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.product-detail .function-btn-group_btn{
    margin-right: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    text-align: center;
} 
.function-btn-group_btn label,
.function-btn-group_btn input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: 2px solid #C3BCB1;
    color: #C3BCB1;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    font-weight: 500;
}
.function-btn-group_btn input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    cursor: pointer;
}
  
.function-btn-group_btn input[type="radio"]:checked + label {
    border-radius: 4px;
    border: 2px solid #533C1B;
    color: #533C1B;
}
  
.function-btn-group_btn label {
    cursor: pointer;
    z-index: 90;
}
.product-detail .typebox form{
    width: 80%;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
.product-detail .qtyminus,.qtyplus{
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 100%;
    color: #fff;
    background-color: #C09351;
    border: none;
    outline: 2px solid #C09351;
    cursor: pointer;
}
.product-detail .qty{
    margin: -5px;
    padding: 0px;
    height: 100%;
    text-align: center;
    border: 2px solid #C09351;
}

.product-detail .info-box{
    width: 60%;
    margin: 100px auto 100px;
}
.product-detail .info-box .switch-btnbox{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 2px solid #C3BCB1;
}
.product-detail .switch-btnbox .switch-btn{
    width: 33.33333%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.product-detail .switch-btn a{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    transition: all 0.3s;
}
.product-detail .info-page-box{
    width: 100%;
}
.product-detail .info-page-box h6{
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
    border-left: 10px solid #C09351;
}
.product-detail .info-page-box p{
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 1.6;
}
.product-detail .mark{
    font-weight: 700;
    font-size: 18px;
}

@import url(reset.css);

body {
  font: 16px/1.5em 'Noto Serif TC', serif, 'Philosopher', 'sans-serif';
  color: #333;
  font-weight: 300;
  position: relative;
}

.warpper {
  max-width: 1200px;
  display: block;
  margin: auto;
  z-index: -1;
  margin-top: 107px;
}

/* 麵包屑 */
.bread {
  position: relative;
  margin-left: 20px;
}

.bread ol {
  display: flex;
}

.bread li {
  margin: 9px 8px;
  font-size: 12px;
  font-weight: bolder;
}

.bread li:first-child::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 1px;
  background: black;
  height: 12px;
}

.bread li a {
  text-decoration: none;
  color: #000;
}

.bread li a:hover {
  color: #618985;
}


/* 最新消息 */
.introduce {
  width: 100%;
  height: 500px;
  position: relative;
}

.new-bg {
  background-image: url(/img/new/new.png);
}

article ul {
  background-color: rgb(255 255 255 / 57%);
  width: 452px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 160px;
}

.introduce li {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 8px;
}

.introduce .new-font {
  color: #533C1B;
  margin-left: 90px;
  margin-top: 35px;
}

.introduce .new-font::after {
  position: absolute;
  content: "";
  left: 133px;
  bottom: 33px;
  width: 73px;
  height: 2px;
  background: #533C1B;
}

.introduce .new-font1 {
  color: #C09351;
  margin-left: 225px;
}

.introduce .new-bg>li {
  margin: 100px 0 0 0;
}

/* 公告區 */
.tabset {
  max-width: 65em;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.tabset>input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset>label {
  position: relative;
  display: inline-block;
  padding: 15px 85px 25px;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

section {
  text-align: left;
}

section li {
  margin: 20px 0;
  padding-bottom: 20px;
  line-height: 2.6;
  border-bottom: 1px solid #ccc;
}

/* .tab-panels .tab-panel ul li:hover a{
  color: #618985;
} */

.tab-panels .tab-panel li:hover h4{
  color: #618985;
}

.tab-panels .tab-panel li:hover small{
  color: #618985;
}


.tabset>label::after {
  content: "";
  position: absolute;
  left: 85px;
  bottom: 20px;
  width: 65px;
  height: 4px;
}

.tabset>label:hover {
  color: #618985;
}

.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: #618985;
}

.tab-panels.tab-panel>li:hover {
  color: #618985;
}

.tab-panels .tab-panel li a {
  text-decoration: none;
  letter-spacing: 1;
}

.tab-panel li small {
  font-size: 12px;
  color: #555555;
  padding-left: 10px;
}

.tab-panel li h4 {
  font-size: 16px;
  color: #261C0D;
}

/* 按紐 */
.pagination{
  justify-content: center;
}
.pagination li{
  margin-left: 15px;
}
.page-link{
  color: #000;
  font-weight: bold;
  border: 1px solid #261C0D;
}
.page-item:first-child .page-link{
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border: none;
  font-weight: bold;
}
.page-link:hover {
  color: #fff;
  background-color: #261C0D;
}



iframe .fooder{

}

















