// rental
@import url(../reset.css);

:root {
    font-family: 'Enriqueta', 'Noto Sans TC';
    --brown-color: #533C1B;
    --carmel-color: #C09351;
    --carmel-tgh-color: rgb(192, 147, 81, .5);
    --sub-skin-color: #F6E6CF;
    --sub-carmel-color: #CFB58F;
    --sub-LTgray-color: #D9D9D9;
    --sub-gray-color: #C3BCB1;
    --sub-DKgray-color: #B3B3B3;
    --font-color: #261C0D;
    --lakeGreen-color: #618985;
    --warning-color: #CD4B21;
    --fb-color: #375798;
}

.display__none {
    display: none !important
}

* {
    font-family: 'Enriqueta', 'Noto Sans TC';
}

main.rental {
    max-width: calc(100vw - 100px);
    margin: 0 auto;
}

main.rental * {
    box-sizing: border-box;
}

main.rental a {
    text-decoration: none;
    color: var(--font-color)
}

.rental .breadcrumb {
    display: flex;
    min-width: 100%;
    padding: 5px 8%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    color: var(--font-color);
}

.rental .breadcrumb li:nth-child(even)::before {
    content: "";
    height: .6rem;
    border-left: solid 1px black;
    display: inline-block;
    margin: 0 .5rem;
}

.rental .breadcrumb li:nth-child(even) a {
    color: var(--lakeGreen-color)
}

.rental .breadcrumb a {
    font-size: .8rem;
    line-height: 20px;
}

.rental .banner {
    position: relative;
}

.rental .banner__img {
    background-image: url(../../img/banner/banner__rental.png);
    height: 470px;
    background-position: 15% center;
}

.rental .banner__textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 57.5vw;
    /* height: 15rem; */
    background-color: rgba(256, 256, 256, .7);
}

.rental .banner__eng {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--brown-color);
    letter-spacing: .8rem;
    padding: 4rem 5.2rem 2rem;
}

.rental .banner__zh::before {
    content: "";
    width: 18vw;
    border-bottom: solid 3px var(--font-color);
    display: inline-block;
    margin-right: 2.8rem
}

.rental .banner__zh {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--carmel-color);
    padding-bottom: 2rem;
    display: block;
    padding-left: 20vw;
    padding-right: 5.2rem;
    letter-spacing: .68rem;
}


.rental article {
    padding: 3rem 0;
}

.rental article section {}

.rental article section h3,
.rental article section p,
.rental article section dl {
    width: 75vw;
    margin: 0 auto 25px;
}

.rental article section h3 {
    margin-top: 40px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    border-left: solid 4px var(--carmel-color);
}

.rental article section em {
    padding-left: .5rem;
}

.rental article small {}

.rental article section p {
    padding-left: 1.3rem;
    line-height: 2rem;
}

.rental article section dl {
    padding-left: 1.3rem;
    line-height: 2.5rem;

}

.rental article section dt {}

.rental article dt span {
    color: var(--lakeGreen-color)
}

.rental article section dd {
    line-height: 2rem;
}

.rental article section ul {
    padding-left: 2.3rem;

    list-style-type: disc;
}

.rental article .btn__ctn {
    width: fit-content;
    margin: 0 auto;
}

.rental article .btn__ctn .btn__apply {
    padding: 15px 50px;
    border: 0;
    background-color: var(--brown-color);
    border-radius: 3px;
    color: #fff;
}

.rental article .btn__ctn .btn__apply :hover {
    background-color: #fff;
}

.rental article .btn__ctn .btn__apply::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--brown-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    outline: 1px solid var(--red-color);
}

.rental article div.map {}

// about
@import url("reset.css");

main.aboutAs {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

main.aboutAs * {
    box-sizing: border-box;
}
/* ---------------------banner----------------------- */

.banner{
    max-width: 1200px;
    margin: auto;
    
}

.banner .banner__word__img{
    display: flex;
    max-width: 100%;
    margin: 120px auto 0;
}

/* 文字標題區塊 */

.banner .banner__word{
    width: 800px;
       
}

.banner h1.banner__zh{
    font-size: 64px;
    color: #533C1B;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
}

.banner h2.banner__en{
    font-size: 48px;
    color: #C09351;
    font-weight: bold;
    margin-left: 45px;
    line-height: 2;
}

.banner h2.banner__en::after{
    content: "";
    border: 2px solid black;
    display: block;
}

.banner h3.banner__slogn__zh{
    font-size: 40px;
    color: #261C0D;
    font-weight: bold;
    margin-left: 170px;
    line-height: 1.6;
    margin-top: 15px;
}

.banner h3.banner__slogn__zh span{
    margin-left: 95px;
}

/* 圖片區塊 */
.banner .banner__img ul{
    display: flex;
}
.banner .banner__img img{
    max-width: 100%;
    padding-left: 15px;
}

/* slogn區塊 */
.banner h2.banner__slogn_en{
    color: #618985;
    text-align: center;
    line-height: 3;
    font-size: 48px;
}

/* ---------------------關於韶光區塊----------------------- */

.about__goodtime,.getting__here,.contact__us{
    max-width: 1000px;
    margin: auto;
    /* outline: 2px solid red; */
}

.about__goodtime__title__eng,.getting__here__title__eng,.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.about__goodtime__title__zh,.getting__here__title__zh,.gcontact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 180px;
    font-weight: bold;
}

.about__goodtime__title__zh::before,.getting__here__title__zh::before,.gcontact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -17%;
    background: #533C1B;
    width: 16%;
    height: 2px;
}

.about__goodtime__para1para2{
    display: flex;
    position: relative;
}

.about__goodtime__para1 p{
    line-height: 2;
    margin: 100px auto 60px;
    width: 290px;
}

.about__goodtime__para1 img{
    margin-left: 15px;
}

.about__goodtime__para2{
    margin-left: 120px;
}

.about__goodtime__para2 p{
    line-height: 2;
    margin: 100px auto 60px;
    padding: 10px;
    width: 520px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    background-color: rgba(255, 255, 255,.5);
}

.about__goodtime__para3 img{
    margin: 50px auto 0px;
    display: block;
}

.about__goodtime__para3 p{
    line-height: 2;
    margin: 30px auto 10px;
    width: 760px;
}

.about__goodtime img{
    max-width: 100%;
}

/* ---------------------交通資訊區塊----------------------- */
.getting__here__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.getting__here__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 250px;
    font-weight: bold;
    margin-bottom: 50px;
}

.getting__here__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -21%;
    background: #533C1B;
    width: 20%;
    height: 2px;
}

.getting__here__map iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.getting__here .para .fa-solid{
    font-size: 50px;
    color: #533C1B;
    margin-right: 100px;
}

.getting__here .para p{
    color: #C09351;
    line-height: 3;
}

.para{
    margin-left: 100px;
    margin: 100px auto 0;
}

.para td{
    line-height: 2;
}

.para__bus p,.para__train p{
    padding-left: 14px;
}

.para__bus i,.para__train i{
    margin-left: 8px;
}

.para__car i{
    margin-left: 6px;
}

.para__parking i{
    margin-left: 10px;
}


/* ---------------------表單區塊----------------------- */

.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.contact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 215px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    background: #533C1B;
    width: 14%;
    height: 2px;
}

.contact__us__form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact__us__form label{
    color: #261C0D;
    margin-bottom: 5px;
}

.contact__us__form input{
    height: 30px;
    margin-bottom: 15px;
    color: #533C1B;
}

.contact__us__form .email input{
    border: 2px solid red;
}

.contact__us__form textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact__us__form input.valid{
    border:2px solid green;
  }
.contact__us__form input.invalid{
    border:2px solid red;
  }

.contact__us__form button{
    background-color: white;
    border: 1.5px solid #533C1B;
    width: 200px;
    height: 50px;
    color: #533C1B;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 50px;
}

// footer
@import url("reset.css");

main.aboutAs {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

main.aboutAs * {
    box-sizing: border-box;
}
/* ---------------------banner----------------------- */

.banner{
    max-width: 1200px;
    margin: auto;
    
}

.banner .banner__word__img{
    display: flex;
    max-width: 100%;
    margin: 120px auto 0;
}

/* 文字標題區塊 */

.banner .banner__word{
    width: 800px;
       
}

.banner h1.banner__zh{
    font-size: 64px;
    color: #533C1B;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
}

.banner h2.banner__en{
    font-size: 48px;
    color: #C09351;
    font-weight: bold;
    margin-left: 45px;
    line-height: 2;
}

.banner h2.banner__en::after{
    content: "";
    border: 2px solid black;
    display: block;
}

.banner h3.banner__slogn__zh{
    font-size: 40px;
    color: #261C0D;
    font-weight: bold;
    margin-left: 170px;
    line-height: 1.6;
    margin-top: 15px;
}

.banner h3.banner__slogn__zh span{
    margin-left: 95px;
}

/* 圖片區塊 */
.banner .banner__img ul{
    display: flex;
}
.banner .banner__img img{
    max-width: 100%;
    padding-left: 15px;
}

/* slogn區塊 */
.banner h2.banner__slogn_en{
    color: #618985;
    text-align: center;
    line-height: 3;
    font-size: 48px;
}

/* ---------------------關於韶光區塊----------------------- */

.about__goodtime,.getting__here,.contact__us{
    max-width: 1000px;
    margin: auto;
    /* outline: 2px solid red; */
}

.about__goodtime__title__eng,.getting__here__title__eng,.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.about__goodtime__title__zh,.getting__here__title__zh,.gcontact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 180px;
    font-weight: bold;
}

.about__goodtime__title__zh::before,.getting__here__title__zh::before,.gcontact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -17%;
    background: #533C1B;
    width: 16%;
    height: 2px;
}

.about__goodtime__para1para2{
    display: flex;
    position: relative;
}

.about__goodtime__para1 p{
    line-height: 2;
    margin: 100px auto 60px;
    width: 290px;
}

.about__goodtime__para1 img{
    margin-left: 15px;
}

.about__goodtime__para2{
    margin-left: 120px;
}

.about__goodtime__para2 p{
    line-height: 2;
    margin: 100px auto 60px;
    padding: 10px;
    width: 520px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    background-color: rgba(255, 255, 255,.5);
}

.about__goodtime__para3 img{
    margin: 50px auto 0px;
    display: block;
}

.about__goodtime__para3 p{
    line-height: 2;
    margin: 30px auto 10px;
    width: 760px;
}

.about__goodtime img{
    max-width: 100%;
}

/* ---------------------交通資訊區塊----------------------- */
.getting__here__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.getting__here__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 250px;
    font-weight: bold;
    margin-bottom: 50px;
}

.getting__here__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -21%;
    background: #533C1B;
    width: 20%;
    height: 2px;
}

.getting__here__map iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.getting__here .para .fa-solid{
    font-size: 50px;
    color: #533C1B;
    margin-right: 100px;
}

.getting__here .para p{
    color: #C09351;
    line-height: 3;
}

.para{
    margin-left: 100px;
    margin: 100px auto 0;
}

.para td{
    line-height: 2;
}

.para__bus p,.para__train p{
    padding-left: 14px;
}

.para__bus i,.para__train i{
    margin-left: 8px;
}

.para__car i{
    margin-left: 6px;
}

.para__parking i{
    margin-left: 10px;
}


/* ---------------------表單區塊----------------------- */

.contact__us__title__eng{
    font-size: 32px;
    color: #533C1B;
    font-weight: bold;
    margin-top: 100px;
}

.contact__us__title__zh{
    font-size: 28px;
    color: #C09351;
    position: relative; 
    display: block;
    margin-left: 215px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact__us__title__zh::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    background: #533C1B;
    width: 14%;
    height: 2px;
}

.contact__us__form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.contact__us__form label{
    color: #261C0D;
    margin-bottom: 5px;
}

.contact__us__form input{
    height: 30px;
    margin-bottom: 15px;
    color: #533C1B;
}

.contact__us__form .email input{
    border: 2px solid red;
}

.contact__us__form textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact__us__form input.valid{
    border:2px solid green;
  }
.contact__us__form input.invalid{
    border:2px solid red;
  }

.contact__us__form button{
    background-color: white;
    border: 1.5px solid #533C1B;
    width: 200px;
    height: 50px;
    color: #533C1B;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto 50px;
}

// log_in
body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}

// new
body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}

// topbar
body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}

// product_detail
body{
    position: relative;
}

.bg{
    background-image: url(../img/log_in/bg.png);
    background-repeat: no-repeat;
    height: 1601px;
}

.login-box{
    width: 30%;
    margin-bottom: 60px;
}

.login-box .login{
    margin-top: 150px;
    margin-left: 26%;
}

.login-content{
    margin: 0 auto;
    width: 45%;
    height: 1200px;
    background-color: #fff;
    padding-top: 60px;
}

.google-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.h3{
    display: block;
    position: relative;
    width: 33%;
    margin: 0 auto;
}

.h3::before{
    content: url(../img/log_in/google\ icon.png);
    position: absolute;
    left: -55px;
    top: 18%;
}









