// html {
//     scroll-behavior: smooth;
// }

.index-wrapper {
    display: block;
    margin: 0 auto;
    width: calc(100% - 100px);
    position: relative;
    margin-top: 80px;

    .item{
        position: relative;

        h1{
            position: absolute;
            left: 8px;
            top: 10px;
            width: 40px;
            height: 40px;
            background-color: #fff;
            font-weight: bold;
            line-height: 40px;
            font-size: 20px;
            text-align: center;
        }

        p{
            margin-top: 15px;
            margin-left: 15px;
            width: 90%;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.5;
            color: #533C1B;
        }
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: -7%;
    }

    .owl-dots {
        margin-top: -10%;
        margin-left: 60%;
        position: absolute;
        z-index: 10000000 !important;
        display: none;
    }

    .owl-prev {
        position: absolute;
        left: 26%;
        top: 33%;
        color: #261C0D;

        &:hover {
            background: none !important;
        }
    }

    .owl-next {
        position: absolute;
        top: 33%;
        right: 26%;
        color: #261C0D;

        &:hover {
            background: none !important;
        }
    }

    .index-subtract {
        position: absolute;
        right: 0;
        bottom: -210px;
        z-index: 1;
        width: 100%;
        pointer-events: none;
    }

    h4 {
        font-size: $h2;
        color: $carmel-color;
        font-weight: bold;
        position: absolute;
        bottom: -32%;
        left: 27%;
        z-index: 3;
        line-height: 1.4;
    }

    .index-vediobox {
        width: 280px;
        height: 70px;
        border-radius: 6px;
        background-color: #343434;
        position: absolute;
        bottom: -31%;
        right: 8%;
        z-index: 3;
        color: #FFFFFF;


        .index-vediobox-title {
            font-size: 14px;
            background-color: #618985;
            border-radius: 6px 0 0 0;
            width: 66%;
            height: 36%;
            text-align: center;
            line-height: 2.1;
        }

        h5 {
            width: 66%;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 4%;
            float: right;

            &::before {
                display: block;
                content: "";
                background-color: #fff;
                width: 25%;
                height: 2px;
                position: absolute;
                left: 7%;
                top: 67%;
            }
        }

        a {
            position: absolute;
            right: 12px;
            bottom: 3px;
        }
    }
}

.index-news {
    display: block;
    width: calc(100% - 100px);
    margin: 0 auto;
    height: 840px;
    background-image: url(../../../../src/img/index/halfcercle.png);
    background-repeat: no-repeat;
    margin-top: 210px;
    background-position: 0px center;

    .title {
        float: left;
        width: 30%;
        font-weight: bold;
        letter-spacing: 8px;
        font-family: $our-font;

        .title-1 {
            color: $brown-color;
            font-size: $h1;
            margin-top: 352px;            
            margin-left: 22%;        
        }

        .title-2 {
            color: $carmel-color;
            font-size: $h2;
            margin-top: 30px;
            margin-left: 25%;        
        }
    }

    .index-content-wrap {
        padding-top: 150PX;
        .content {
            float: right;
            width: 70%;
            &:hover{
                .material-symbols-outlined{
                animation: material-symbols-outlined 1s linear;
                animation-iteration-count: infinite;
            }
                @keyframes material-symbols-outlined{
                    0% {
                        transform: translateX(0px);
                    }
                    50% {
                        transform: translateX(10px);
                    }
                    100% {
                        transform: translateX(0px);
                    }
                }
            }

            .date-info {
                display: flex;
                color: #B3B3B3;
                font-size: 18px;
                margin: 10px 0;

                div {
                    margin-right: 20px;
                }
            }

            .announcement {
                color: #261C0D;
                font-size: 22px;
                margin: 20px 0;
                position: relative;

                &::after {
                    display: block;
                    content: "";
                    width: 80%;
                    height: 1.5px;
                    margin-top: 35px;
                    margin-left: -8px;
                }

                
                .material-symbols-outlined{
                    position: absolute;
                    top: -2px;
                    left: 76%;    
                }



            }


        }

    }

}

.index-aboutus {
    display: block;
    // width: calc(100% - 100px);
    width: 1180px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;


    .aboutus-left {
        float: left;
        width: 55%;

        img {
            width: 60%;
            display: block;
            margin: 0 auto;
        }
    }

    .aboutus-right {
        float: right;
        width: 45%;
        font-family: $our-font;
        margin-top: 20px;

        h3 {
            font-size: $h1;
            font-weight: bold;
            margin: 15px 0;
        }

        .title-1 {
            color: $brown-color;
            letter-spacing: 6px;
        }

        .title-2 {
            color: $carmel-color;
            letter-spacing: 20px;
            margin-left: 100px;
        }

        p {
            font-size: $h5;
            letter-spacing: 6px;
            margin-top: 30px;
            line-height: 1.8;
            margin-bottom: 25px;
            margin-left: 25px;
        }
    }
}

.index-shops {
    display: block;
    margin: 0 auto;
    width: calc(100% - 100px);
    font-family: $our-font;

    .item{

        &:hover{
            .more{
                color: $carmel-color;
            }
        }
    }

    h3 {
        font-size: $h1;
        font-weight: bold;
        margin: 15px 20%;
    }

    .title-1 {
        color: $brown-color;
        letter-spacing: 15px;
        margin-top: 180px;
    }

    .title-2 {
        color: $carmel-color;
        letter-spacing: 15px;
        margin-left: 25%;
        margin-bottom: 50px;
    }

    .owl-two{
        width: 85%;
        margin-left: 15%;
        .whiteBlock{
            display: none;
        }
        h4{
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
            color: $brown-color;
        }

        p{
            display: block;
            margin: 0 auto;
            width: 70%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
        }

        .more{
            margin: 10px 0;
            font-size: 14px;
            margin-left: 75%;
            border: none;
            font-weight: bold;
            color: $brown-color;
        }

    }
    .owl-next {
        position: absolute;
        top: 44%;
        left: -3.5%;
    }

    .owl-prev {
        display: none;
    }
}

.index-wrapper h4 {
    font-size: 40px;
    color: #533C1B;
    font-weight: bold;
    position: absolute;
    bottom: -32%;
    left: 13%;
    z-index: 3;
    line-height: 1.4;
    letter-spacing: 0.5rem;
}

.index-wrapper h3 {
    font-size: 48px;
    color: #533C1B;
    font-weight: bold;
    position: absolute;
    bottom: -15%;
    left: 16%;
    display: none;
}

.index-news .index-content-wrap .content .announcement::after {
    display: block;
    content: "";
    /* background-color: #B3B3B3; */
    width: 80%;
    /* height: 1px; */
    margin-top: 35px;
    margin-left: -8px;
    border-bottom: solid 1.5px #B3B3B3;
}

.item {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
    padding: 10px;
    margin: 17px;
    div{
        border:solid 1px #000;
    }
}

@media all and (max-width: $tablet-width) {
    .index-wrapper{
        .index-vediobox{
            bottom:-51%;
        }
    }
    .index-aboutus{
        width: 950px;
        
        .aboutus-right{
            margin-top: 0px;
        }
    }
}

@media all and (max-width: 768px) {
    .index-wrapper{
        .index-subtract{
            bottom: -120px;
        }
        h4{
            font-size: 28px;
            bottom: -26%;
            left: 21%;
        }
        .index-vediobox{
            bottom: -61%;            
            right: 32%;
            width: 227px;
            h5{
                width: 84%;

                &::before{
                    display: none;
                }
            }
            a{
                right: 2px;
                bottom: 1px;
            }
        }
    }
    .index-news{
        height: 465px;
        background-image: url(../../../../src/img/index/halfcercle768.jpg);
        .title{
            .title-1{
                font-size: 22px;
                margin-top: 178px;
                margin-left: 8%;
            }
            .title-2{
                font-size: 22px;
                margin-top: 25px;
                margin-left: 15%;
            }
        }
        .index-content-wrap{
            padding-top: 35PX;
            .content{
                .date-info{
                    font-size: 13px;
                }
                .announcement{
                    font-size: 14px;
                    margin: 10px 0;
                }
            }
        }
    }
    .index-aboutus{
        width: 700px;
        margin-top: 80px;
        height: 260px;

        .aboutus-left{
            img{
                margin-left: 22%;
            }
        }
        .aboutus-right{
            .title-1{
                font-size: 22px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .title-2{
                font-size: 22px;
                margin-left: 42px;
            }
            p{
                font-size: 16px;
                letter-spacing: 2px;
                margin-left: -44px;                
                margin-top: 20px;
                margin-top: 15px;
            }
        }
    }
    .index-shops{
        .title-1{
            margin-top: 80px;
            font-size: 22px;
        }
        .title-2{
            font-size: 22px;
            margin-bottom: 35px;
        }
        // .owl-two{
        //     width: 100%;
        //     .item{
        //          width: 300px;
        //     }
        // }
        .owl-next{
            left: -12%;
        }
    }
}

@media all and (max-width: 428px) {
    .index-wrapper{
        width: 100%;
        .owl-one{
            .owl-nav{
                .owl-prev{
                    left: 2px;
                }
                .owl-next{
                    right: 2px;
                }
            }
        }
        
        h4{
            font-size: 20px;
            bottom: -21%;
        }
        .index-vediobox{
            bottom: -50%;
            right: 23%;
        }
    }
    .index-news{
        width: 100%;
        .title{
            float: none;
            width: 100%;
            .title-1{
                margin-left: 0;
                white-space: nowrap;
                text-align: center;
                margin-top: 240px;
            }
            .title-2{
                margin-left: 0;
                white-space: nowrap;
                text-align: center;
            }
        }
        .index-content-wrap{
            .content{
                float: none;
                width: 100%;
                width: 75%;
                margin: 0 auto;
                .announcement{
                    .material-symbols-outlined{
                        top: -4px;
                        left: 313px;
                    }
                }
            }
        } 
    }
    .index-aboutus{
        position: relative;
        width: 400px;
        height: auto;
        .aboutus-left{
            float: none;
            width: 100%;
            img{
                margin: 0 auto;
                padding-top: 90px;
            }
        }
        .aboutus-right{
            float: none;
            width: 100%;
            .title{
                position: absolute;
                top: -10px;
                left: 31%;
                
                .title-1{
                    text-align: center;
                }
                .title-2{
                    margin-left: 0;
                    text-align: center;
                }
            }
            p{
                width: 66%;
                margin: 0 auto;
                margin-top: 20px;
                white-space: nowrap;
            }
        }
    }
    .index-shops{
        width: 100%;
        margin-left: 0;

    }
}
