<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員管理</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/b-grid.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="header"></header>
    <div class="b-member" id="member">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text">會員查詢</p>
                    <p class="gray-text">*以下欄位如留空則預設為全部</p>
                    <div class="member_search-bar">
                        <p style="font-weight: 800;
                        letter-spacing: .2rem;">查詢條件</p>
                        <ul>
                            <li>
                                <p>會員分類</p>
                                <select name="news-kind" class="news-kind">
                                    <option value="" selected>會員種類選擇</option>
                                    <option value="">管理員</option>
                                    <option value="">普通會員</option>
                                </select>   
                            </li>
                            <li>
                                <p>會員狀態</p>
                                <form action="" class="news-state">
                                    <input type="radio" name="time-area" checked><label class="time-area_label" for="">不指定</label>
                                    <input type="radio" name="time-area"><label class="time-area_label" for="">開啟</label>
                                    <input type="radio" name="time-area"><label class="time-area_label" for="">關閉</label>
                                </form>
                            </li>
                            <li>
                                <p>會員編號</p>
                                <input type="text" class="long-input">
                            </li>
                            <li>
                                <p>會員名稱</p>
                                <input type="text" class="long-input">
                            </li>
                        </ul>
                        <div class="btn-group">
                            <button class="search-btn">查詢</button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="info-box">
                                    <p>會員列表</p>
                                    <ul>
                                        <li class="first-title">
                                            <div>
                                                <div><h6>會員編號</h6></div>
                                                <div><h6>會員名稱</h6></div>
                                                <div><h6>權限代碼</h6></div>
                                                <div><h6>會員狀態</h6></div>
                                                <div><h6>聯絡郵箱</h6></div>
                                                <div><h6>操作</h6></div>
                                            </div> 
                                        </li>
                                        <li class="" v-for="(v_member, index) in dataList" :key="index">
                                            <a href="b-member-detail.html">
                                                <div class="flex-box">
                                                    <div><h6>{{ v_member.ID }}</h6></div>
                                                    <div><h6>{{ v_member.USERNAME }}</h6></div>
                                                    <div><h6>{{ v_member.FK_ROLE_ID }}</h6></div>
                                                    <div><h6>
                                                        <input type="radio" v-model="abc[index]" value="b" :id="v_member.ID + 'a'" :name=v_member.ID><label class="" :for="v_member.ID + 'a'">開啟</label>
                                                        <br>
                                                        <input type="radio" v-model="abc[index]" value="a" :id="v_member.ID + 'b'" :name=v_member.ID><label class="" :for="v_member.ID + 'b'">關閉</label>
                                                    </h6></div>
                                                    <div><h6>{{ v_member.EMAIL }}</h6></div>
                                                    <div><h6>
                                                        <button><i class="fa-solid fa-magnifying-glass"></i> 查看會員</button>
                                                        <button><i class="fa-solid fa-pen-nib"></i> 編輯會員狀態</button>
                                                    </h6></div>
                                                </div>
                                            </a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/vue.global.js"></script>
    <script src="../js/axios.min.js"></script>
    <script>
        // 連接header
        $(() => {
            $("#header").load("./back-header.html");
        });

        //掛載資料庫
        const member = Vue.createApp({
            data() {
                return {
                    dataList: [],
                    abc: []
                }
            }, methods:{
                atClick(){

                }
            }, created() {
               // 查詢資料
                    axios.get("../../php/backend/member.php").then(res => {
                        this.dataList = res.data;
                        console.log(this.dataList);


                        let abc_arr = [];
                        res.data.forEach((item, i) => {
                            if(item.VERIFY == "1"){
                                abc_arr.push("a")
                            }else{
                                abc_arr.push("b")
                            }
                        })
                        console.log(abc_arr);

                        this.abc = abc_arr;
                    }).catch(err => {
                        console.log(err);
                    });
            }
        }).mount("#member");
    </script>
</body>
</html>