<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>忘記密碼 - 韶光文創園區</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="header"></div>
    <div class="log_in-wrapper">
      <div class="log_in-bg">
        <div class="log_in-login-box">
          <h2>Forgot Password</h2>
          <h3>忘記密碼</h3>
        </div>
        <div class="log_in-login-content">
          <div class="log_in-login-width">
            <div class="log_in-dotted-line">
              <div id="log_in">
                <div>
                  <p>新密碼</p>
                  <input
                    type="text"
                    v-model="user_email"
                    class="user_email"
                    name="user_email"
                    id="user_email"
                  />
                </div>
                <div>
                  <p>確認新密碼</p>
                  <input
                    type="password"
                    v-model="user_password"
                    class="user_password"
                    name="user_password"
                    id="user_password"
                  />
                </div>
                <div class="btn__ctn">
                  <button id="goApplyForm" class="button" @click="textTosend">
                    <span>確認</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/vue.global.js"></script>
    <script>
      $(() => {
        $("#header").load("topbar.html");
        $("#footer").load("footer.html");
      });
    </script>
  </body>
</html>
