@import url(../scss/base/var/_color.scss);
@import url(../scss/base/var/_font.scss);


$primary1-color: #533C1B; // 主色1
$primary2-color: #C09351; // 主色2
$primary3-color: rgb(192, 147, 81, .5); // 主色3
$secondary1-color: #f6e6cf; // 輔色1
$secondary2-color: #CFB58F; // 輔色2
$secondary3-color: #D9D9D9; // 輔色3
$secondary4-color: #261C0D; // 輔色4
$secondary5-color: #B3B3B3; // 輔色5
$secondary6-color: #C3BCB1; // 輔色6
$spotlight-color: #618985; // 對比色1
$warning-color: #CD4B21; // 警告色1

$our-font: "Enriqueta", "Noto Sans TC"; // 英文 & 中文字體
$our-font2: "Ephesis", cursive; // 手寫英文字體

$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 24px;
$h6: 18px;
$p: 16px;
$small: 12px;

$fw4: 400;
$fw7: 700;


.shopping__cart01__wrapper{
    font-family: $our-font;
    width: 80%;
    margin: 0 auto;

    // ==== 上方進度條 ====
    .top__nav{
        // border: 1px solid red; 
        width: 1000px;
        margin: 0 auto;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-top: 120px;

        li {
            // border: 1px solid blue;
            width: 33%;

            .top__nav__num {
                width: 32px;
                height: 32px;
                line-height: 2;
                background-color: $secondary3-color;
                color: #fff;
                border-radius: 50%;
                margin: 0 auto;
            }


            p {
                line-height: 1.6;
                color: #b3b3b3;
                margin-top: 10px;
            }
        }

        // 偽元素
        li:first-child,
        li:nth-child(2) {
            position: relative;

            :before {
                content: '';
                width: 310px;
                height: 2px;
                background-color: $secondary3-color;
                position: absolute;
                left: 55%;
                top: 20%;
            }
        }

        // 此頁進度標示
        li .num__now{
            background-color: $primary1-color; 
        }

        li .text__now{
            color: $primary1-color;
        }
    }

    // ==== 購物車資料 ====
    .cart__info{
        h1{
            font-size: $h6; // 待更新變數
            color: $primary1-color;
            font-weight: bold;
            line-height: 1.6;
            margin-bottom: 30px;
            margin-top: 30px;
            padding-left: 8px;
            position: relative;
        }

        h1:after {
            content: '';
            display: block;
            width: 3px;
            height: 16px;
            background-color: $primary2-color;

            position: absolute;
            left: 0px;
            top: 6px;
        }
    }

    // ==== 導覽列 ====
    .cart__info .cart__info__nav {
        // border: 1px solid red;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $secondary5-color;

        li {
            color: $secondary4-color;
            flex-grow: 1;
            margin-bottom: 10px;
        }

        li:first-child {
            flex-grow: 1.13;
            margin-left: 30px;
        }

        li:nth-child(2) {
            flex-grow: 1.1;
        }

    }

    // ==== 商品明細 ====
    .cart__info .product__list {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        // outline: 1px solid blue;
        position: relative;

        >li {
            flex-basis: 0;
            flex-grow: 1;
            // outline: 1px solid red;
        }

        >li:first-child {
            position: absolute;
            left: 0;
            top: 30%;
        }

        >li:nth-child(2) {
            flex-grow: 0;
            margin-left: 30px;
        }

        >li:last-child {
            position: absolute;
            top: 2px;
            right: 0px;
            cursor: pointer;
        }

        >li:nth-child(3){
            padding-left: 10px;
            flex-grow: 0.9;
        }

        >li:nth-child(4) {
            flex-grow: 1.1;
        }

        h2 {
            line-height: 1.6;
            color: $secondary4-color;
        }

        p {
            color: $secondary5-color;
        }

        // ==== 數量的input ====
        ol.input__box{
            display: flex;
            align-items: center;
            // border: 1px solid red;

            .minus, .plus{
                border: 1px solid $secondary4-color;
                display: block;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: $secondary4-color;
                background-color:#fff;
                font-size: 20px;
            }

            .minus{
                border-radius: 3px 0 0 3px;
                cursor: pointer;
            }

            .plus{
                border-radius: 0 3px 3px 0;
                cursor: pointer;
            }

            .input__num{
                outline: 0;
                text-align: center;
                border: 1px solid $secondary4-color;
                // outline: 1px solid green;
                color: $secondary4-color;
                width: 100px;
                line-height: 23px;
                padding: 0 3px;
            }
        }

    }

    // ==== 送貨和訂單資訊 ====
    .delivery__sum{
        display: flex;

        .delivery{
            flex-grow: 1;
            margin-top: 40px;

            h1{
                font-size: $h6;
                color: $primary1-color;
                font-weight: bold;
                line-height: 1.6;
                margin-bottom: 30px;
                margin-top: 30px;
                padding-left: 8px;
                position: relative;
            }

            h1:after{
                content: '';
                display: block;
                width: 3px;
                height: $h6;
                background-color: $primary2-color;
            
                position: absolute;
                left: 0px;
                top: 6px;
            }

            li{
                margin-bottom: 10px;
                margin-left: 5px;

                p{
                    line-height: 1.6;
                    color: $secondary4-color;
                    margin-bottom: 3px;
                }

                select.method{
                    outline: none;
                    width: 300px;
                    height: 30px;
                    border: 1px solid $secondary4-color;
                    padding-left: 2px;
                    color: $secondary4-color;
                    border-radius: 3px;
                }

                input.address{
                    outline: none;
                    width: 300px;
                    line-height: 2;
                    border: 1px solid $secondary4-color;
                    padding-left: 5px;
                    color: $secondary4-color;
                    border-radius: 3px;
                }
            }
        }

        .summary{
            flex-grow: 1;
            /* border: 1px solid blue; */
            margin-top: 40px;
            color: $secondary4-color;

            h1{
                font-size: $h6;
                color: $secondary4-color;
                font-weight: bold;
                line-height: 1.6;
                margin-bottom: 30px;
                margin-top: 30px;
                padding-left: 8px;
            
                position: relative;
            }

            h1:after{
                content: '';
                display: block;
                width: 3px;
                height: $h6;
                background-color: $primary2-color;
            
                position: absolute;
                left: 0px;
                top: 6px;
            }

            .subtotal{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .freight{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $secondary5-color;
                padding-bottom: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .total{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 20px;
                color: $primary2-color;
                font-weight:600;
            }

            a{
                text-decoration: none;
                display: block;
                width: 200px;
                line-height: 2;
                text-align: center;
                margin: 30px auto;
                background-color: $primary1-color;
                color: #fff;
                border-radius: 3px;
                font-size: 18px;
                transition: .3s;
            }

            a:hover{
                background-color: $primary2-color;
                outline: 1px solid $primary2-color;
                // color: $primary1-color;
            }

        }
    }



}



    


    

