@import url(../scss/base/var/_color.scss);
@import url(../scss/base/var/_font.scss);


$primary1-color: #533C1B; // 主色1
$primary2-color: #C09351; // 主色2
$primary3-color: rgb(192, 147, 81, .5); // 主色3
$secondary1-color: #f6e6cf; // 輔色1
$secondary2-color: #CFB58F; // 輔色2
$secondary3-color: #D9D9D9; // 輔色3
$secondary4-color: #261C0D; // 輔色4
$secondary5-color: #B3B3B3; // 輔色5
$secondary6-color: #C3BCB1; // 輔色6
$spotlight-color: #618985; // 對比色1
$warning-color: #CD4B21; // 警告色1

$our-font: "Enriqueta", "Noto Sans TC"; // 英文 & 中文字體
$our-font2: "Ephesis", cursive; // 手寫英文字體

$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 24px;
$h6: 18px;
$p: 16px;
$small: 12px;

$fw4: 400;
$fw7: 700;

.shopping__cart02__wrapper{
    font-family: $our-font;
    width: 80%;
    margin: 0 auto;
    // ==== 上方進度條 ====
    .top__nav{
        // border: 1px solid red; 
        width: 1000px;
        margin: 0 auto;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-top: 120px;
    
        li{
        // border: 1px solid blue;
        width: 33%;
    
            .top__nav__num{
                width: 32px;
                height: 32px;
                line-height: 2;
                background-color: $secondary3-color;
                color: #fff;
                border-radius: 50%;
                margin: 0 auto;
            }
    
    
            p{
                line-height: 1.6;
                color: #b3b3b3;
                margin-top: 10px;
            }
        }

        // 偽元素
        li:first-child, 
        li:nth-child(2){
            position: relative;
        
                :before{
                    content: '';
                    width: 310px;
                    height: 2px;
                    background-color: $primary1-color;
                    position: absolute;
                    left: 55%;
                    top: 20%;
                }
        }

        // 此頁進度標示
        li .num__now{
            background-color: $primary1-color; 
        }

        li .text__now{
            color: $primary1-color;
        }
        
    
    }

}