.b-index{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 90px;
    box-sizing: border-box;
}
.b-index p{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-index h6{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-index h5{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-index .info-box1{
    background-color: rgb(230, 230, 230);
    height: 200px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        li{
            width: 25%;
            height: 100px;
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-right: #333 2px solid;
            h6{
                margin-bottom: 40px;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
}
.b-index .info-box2{
    background-color: rgb(230, 230, 230);
    height: 200px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: inline-block;
        li{
            width: 80%;
            margin-top: 10px;
            margin-left: 10%;
            padding-bottom: 10px;
            padding-left: 10px;
            border-bottom: #333 2px solid;
            h6{
                margin-bottom: 10px;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
.b-index .info-box3{
    background-color: rgb(230, 230, 230);
    margin-bottom: 60px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: inline-block;
        li{
            display: flex;
            width: 90%;
            margin-left: 5%;
            border-bottom: #333 2px solid;
            a{
                display: flex;
                width: 100%;
                height: 100%;
                div{
                    width: 15%;
                    height: 40px;
                    text-align: center;
                    h6{
                        line-height: 40px;
                    }
                }
                .add-w{
                    width: 40%;
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}