@mixin rwd($breakpoint) {
    @media all and (max-width: $breakpoint) {
        @content;
    }
}

main.memberCenter {
    width: calc(100vw - 112px);
    margin: 0 auto;
    padding-top: 32px;

    @include rwd(768px) {
        width: 100vw;
    }

    a {
        color: $font-color;
    }

    .breadcrumb {
        display: flex;
        padding: 10px 2%;
        position: relative;
        min-width: 0;
        width: 60%;
        z-index: 1;
        margin: 50px 0 20px 55px;
        // box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 50%);


        @include rwd(428px) {
            margin: 50px 0 20px 10px;
        }

        li {
            &:nth-child(even) {
                &::before {
                    content: "";
                    height: .6rem;
                    border-left: solid 1px $font-color;
                    display: inline-block;
                    margin: 0 .5rem;
                }

                a {
                    color: $lakeGreen-color;
                }
            }
        }

        a {
            font-size: $small;
            line-height: 18px;
            color: $font-color;
        }
    }

    .banner {
        margin-bottom: 5rem;

        @include rwd(768px) {
            margin-bottom: 3rem;
        }
    }

    .banner-img {
        box-shadow: none;
        height: 195px;
    }

    .banner-eng {
        @include rwd(768px) {
            font-size: 28px;
            padding: 40px 10px 20px 75px;
        }

        @include rwd(428px) {
            font-size: 20px;
            padding: 40px 10px 20px 20px;
            height: 110px;
        }
    }

    .banner-zh {
        &::before {
            content: "";
            width: 14vw;
            border-bottom: solid 3px $font-color;
            display: inline-block;
            margin-right: 2.8rem;

            @include rwd(428px) {
                margin-right: 0.8rem;
            }
        }

        @include rwd(768px) {
            font-size: 28px;
            padding-left: 30vw;
        }

        @include rwd(428px) {
            font-size: 20px;
            padding-left: 36vw;
        }
    }

    section.nav-tab {
        width: 83vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        gap: 2rem;

        @include rwd(768px) {
            display: block;
        }

        aside.side-nav {
            position: relative;

            nav.nav-bg {
                padding: 2rem 3rem 6rem;
                height: fit-content;
                position: sticky;
                top: 120px;
                background: #EEEEEE;
                box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
                border-radius: 10px;

                @include rwd(768px) {

                    padding: 0rem 1rem 1rem 3rem;
                    margin-bottom: 5rem;

                    ul {
                        display: flex;
                        justify-content: space-around;
                    }
                }

                @include rwd(428px) {
                    padding: 0rem 0rem 1rem 2rem;

                    ul {
                        justify-content: space-around;
                    }
                }
            }
        }

        aside.side-tab {
            grid-column: span 3 / span 3;
        }
    }

    .nav-block {

        &::before {
            content: "";
            width: 10rem;
            border-top: solid 3px $font-color;
            display: inline-block;

            @include rwd(768px) {
                width: 0rem;
            }
        }



        div {
            padding: 1rem 2rem 1rem 0;
            position: relative;
            cursor: pointer;

            div {
                display: none;
            }

            div.-active {
                background-color: $sub-skin-color;
                width: 13rem;
                height: 3rem;
                position: absolute;
                z-index: -1;
                top: 28px;
                display: block;
                left: .2rem;

                @include rwd(428px) {
                    width: 7rem;
                    top: 10px;
                    left: -0.2rem;
                }
            }
        }

        .title-eng {
            font-size: $h3;
            color: $brown-color;

            @include rwd(428px) {
                font-size: 16px;
            }
        }

        .title-zh {
            padding-top: .3rem;
            font-size: $h6;
            color: $carmel-color;

            @include rwd(428px) {
                font-size: 14px;
            }
        }
    }

    div.tab-block {
        margin-bottom: 3rem;
    }

    ul.tab-list {
        display: flex;
        margin: .68rem 0;

        li a.tab {
            padding: .5rem 1rem;
            background-color: $carmel-color;
            color: #fff;
            font-size: $p;
            border-radius: 3px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: .5px;
            outline: none;
        }

        li a.tab.-current {
            background-color: $brown-color;
        }
    }

    .tab-content {
        background-color: $brown-color;
        border-radius: 3px;
        border-top-left-radius: 0;
        padding: 1rem;
        outline: none;
        margin-top: -.5px;

        &>div {
            background-color: #fff;
            border-radius: 2px;
            padding: 3rem 2rem;
        }
    }

    .addr-tab {
        // display: none;
    }

    .pwd-tab {
        // TODO
        // display: none;
    }

    div.addr-col {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 1.5rem;

        @include rwd(768px) {
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
        }

        @include rwd(428px) {
            font-size: 14px;
        }

        label {
            display: flex;
            margin-right: 1rem;

            @include rwd(715px) {
                width: 100%;
                margin-bottom: 10px;
            }

            & * {
                margin-right: 1rem;

            }

            div {
                min-width: 300px;
            }
        }

        &>input {
            display: none;
            min-width: 300px;
            line-height: 1.5rem;
            border: solid 2px $brown-color;
            border-radius: 3px;
            margin-right: 1rem;
            color: $brown-color;
        }

        button {
            margin-right: 1rem;
            padding: 0;
            border: 0;
            background-color: transparent;

            &:hover {
                span {
                    font-weight: 600;
                }
            }
        }

        input+button>span {
            font-size: $h3;
        }

    }

    textarea {
        border: solid 2px $brown-color;
        border-radius: 3px;
        width: 300px;
        margin: 2rem auto 0;
        height: 3rem;
        display: none;
    }

    .button {
        font-size: $p;
        padding: 12px 25px 12px 40px;

        @include rwd(428px) {
            font-size: 14px;
        }
    }

    div.pwd-tab>div {
        width: 30vw;
        margin: 0 auto 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include rwd(768px) {
            width: auto;
            margin-left: 3rem;
        }

        @include rwd(428px) {
            font-size: 14px;
            margin-left: 0.2rem;
            margin-right: 1rem;
        }

        input {
            border: solid 2px $brown-color;
            border-radius: 3px;
            line-height: 1.5rem;
            min-width: 50%;
            color: $brown-color;

            @include rwd(768px) {
                margin-right: 5rem;
            }

            @include rwd(428px) {
                margin-right: 0;
            }
        }

        .button {
            margin: 40px auto 0;

            @include rwd(768px) {
                margin: 40px 0 0 125px;
            }

            @include rwd(428px) {
                margin: 30px 0 0 38px;
            }
        }
    }

    div.tab-content>div.po-tab {
        padding-top: 1rem;
        // display: none; // TODO
    }

    .po-single {
        border-bottom: solid 2px $carmel-color;

        @include rwd(428px) {
            padding: 0;
            font-size: 14px;
        }

        &>div {
            display: flex;
            width: 30vw;
            margin: 0 auto 1.5rem;

            @include rwd(768px) {
                width: auto;
                margin-left: 3rem;
            }

            @include rwd(428px) {
                width: auto;
                margin-left: 1rem;
            }

            &:first-child {
                margin-top: 1.5rem;
            }

            &>* {
                min-width: 50%
            }
        }

        &:last-child {
            border: 0
        }
    }

    .podetail {
        display: flex;
        flex-wrap: wrap;
        border-bottom: solid 2px $carmel-color;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        @include rwd(428px) {
            font-size: 14px;
        }

        &>div {
            min-width: 30%;
            margin-bottom: 1.5rem;

            &>* {
                margin-bottom: .5rem;
            }
        }
    }

    .item-single {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto 1.2rem;

        @include rwd(428px) {
            margin-left: 25px;
        }

        img {
            width: 10vw;
            margin-right: 2.5rem;
        }



        .item-detail {
            display: flex;
            align-items: stretch;
            width: 100%;
            justify-content: space-between;

            @include rwd(428px) {
                flex-direction: column;
                font-size: 14px;
                line-height: 1.2;
            }

            &>* {
                // flex-grow: 1;
            }
        }
    }

    .po-item {
        border-bottom: solid 2px $carmel-color;
        padding-right: 7rem;

        @include rwd(428px) {
            padding: 0;
        }
    }

    .posum {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        margin-right: 7rem;
        align-items: flex-end;

        @include rwd(428px) {
            font-size: 14px;
            margin-right: 3rem;
        }

        &>div {
            display: flex;
            margin-bottom: 1.5rem;
            width: 40%;
            justify-content: space-between;

            @include rwd(428px) {
                width: auto;
            }

            &>* {
                // flex-grow: 1;
            }
        }
    }

    .coupon-item {
        width: fit-content;

        .coupon-single {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;

            @include rwd(428px) {
                flex-direction: column;
            }

            >* {
                width: 50%;

                @include rwd(428px) {
                    width: 85%;
                    text-align: center;
                    margin-top: 10px;

                    small {
                        font-size: 14px;
                    }
                }
            }

            img {
                margin-right: 2rem;

                @include rwd(428px) {
                    margin-right: 0;
                }
            }

            h5 {
                font-size: $h5;
                margin-bottom: 1rem;
                font-weight: $fw7;

                @include rwd(768px) {
                    font-size: 18px;
                }

                @include rwd(428px) {
                    font-size: 16px;
                    margin-bottom: 0.5rem;

                }
            }
        }
    }
}