.sign_up-wrapper{
    
    .sign_up-bg{
        background-image: url(../../../../src/img/log_in/bg.png);
        background-repeat: no-repeat;
        height: 1601px;
        margin-top: 80px;
        box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 30%);
        
        .sign_up-login-box{
            width: 44%;
            height: 200px;
            margin-bottom: 60px;
            margin-left: 8%;

            h2{
                font-family: $our-font;
                font-size: 48px;
                font-weight: bold;
                color: #533C1B;
                letter-spacing: .8rem;
                padding: 4rem 5.2rem 1rem;
                white-space:nowrap; 
            }

            h3{
                font-size: 32px;
                font-weight: bold;
                color: #C09351;
                padding-bottom: 2rem;
                display: block;
                padding-left: 18vw;
                padding-right: 5.2rem;
                letter-spacing: .68rem;
                position: relative;
                white-space:nowrap; 

                &::after{
                    content: '';
                    height: 3px;
                    width: 18%;
                    background-color: #261C0D;
                    display: block;
                    position: absolute;
                    right: 61%;
                    bottom: 37px;
                
                }
            }
      
        }
        .sign_up-login-content{
            margin: 0 auto;
            width: 45%;
            height: 1060px;
            background-color: #fff;
            padding-top: 60px;

            .sign_up-login-width{
                display: block;
                margin: 0 auto;
                width: 80%;
                .sign_up-google-btn{
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                    background-color: #CFB58F;
                    text-align: center;
                    line-height: 70px;
                    text-decoration: none;
    
                    .sign_up-h3{
                        display: block;
                        position: relative;
                        width: 44%;
                        margin: 0 auto;
                        height: 70px;
                        text-align: center;
                        line-height: 70px;
                        color: #fff;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 20px;
                        letter-spacing: 0.1rem;
                        white-space:nowrap; 
                    }
    
                    .sign_up-h3::before{
                        content: url(../img/log_in/google\ icon.png);
                        position: absolute;
                        left: -55px;
                        top: 18%;
                    }
                }
                .sign_up-or{
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                .sign_up-dotted-line{
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 78px;

                     p{
                        font-size: 16px;
                        margin-left: 20px;
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }

                    input{
                        display: block;
                        margin: 0 auto;
                        width: 95%;
                        height: 50px;
                        border-radius: 3px;
                        margin-bottom: 20px;
                        font-size: 16px;
                        border-color: #261C0D;
                    }

                }
                button{
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    height: 50px;
                    background-color: #533C1B;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                }
                .sign_up-last-line{
                    padding-top: 25px;
                    width: 200px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;

                    a{
                        color: #C09351;
                    }

                    .log_in-singin{
                        text-decoration: none;
                        color: #261C0D;
                    }

                } 

            }
            

        }

    }

}


@media all and (max-width: $tablet-width) {
    
    .sign_up-wrapper{
        width: 100%;

        .sign_up-bg{
            background-image: url(../../../../src/img/sign_up/bg1024.jpg);
            height: 1145px;

            .sign_up-login-box{
                height: 135px;

                h2{
                    font-size: 28px;
                }
                
                h3{
                    font-size: 28px;
                }
            }

            .sign_up-login-content{
                padding-top: 45px;
                height: 900px;

                .sign_up-login-width{
    
                    .sign_up-google-btn{
                        height: 50px;

                        .sign_up-h3{
                            font-size: 14px;
                            line-height: 50px;
                        }
                        .sign_up-h3::before{
                            top: 6%;
                        }
                    }

                    .sign_up-or{
                        margin: 15px 0;
                    }

                    .sign_up-dotted-line{
                        margin-bottom: 50px;

                        p{
                            margin-top: 12px;
                            margin-bottom: 20px;
                        }

                        input{
                                height: 40px;
                        }
                    }
                }
            }
    
        }   
    }

}

@media all and (max-width: 768px){
    .sign_up-wrapper {
        .sign_up-bg {
            .sign_up-login-box {
                h3 {
                    padding-left: 19vw;
                    padding-right: 0;
                    &::after {
                        // display: none;
                        width: 12%;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 428px){

    .sign_up-wrapper{
        .sign_up-bg{
            margin-top: 70px;
            .sign_up-login-box{
                height: 100px;
                width: 350px;
                h2{
                    font-size: 20px;
                    text-align: center;
                }
                
                h3{
                    font-size: 20px;
                    text-align: center;

                    &::after{
                        display: none;
                    }
                }


            }
            .sign_up-login-content{
                width: 80%;
                height: 830px;
                .sign_up-login-width{

                    .sign_up-dotted-line{

                        p{
                            margin-bottom: 10px;
                        }

                        button{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}