.warpper-news-detail{
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        margin-top: 107px;
     
    .detail-information{// 消息區  
        padding:10px 0 0 20px;
        line-height: 2; 
    }
    .detail-information small{
        font-size: $p;
        color: $sub-DKgray-color;
        padding-left: 15px;
    }
    .detail-information h3{
        font-size: $h3;
        font-weight: bold;
    }
    .detail-information img{
        width: 100%;
    }
    .detail-information h4{
        font-size: $h4;
        padding-top: 60px;
        margin-left: 10px;
    }

    .change-next-page ul{//換頁 
        display: flex;
        margin: 70px auto;
        align-items: center;
        justify-content: space-around;
        &::before{
            content: "";
            width: 3px;
            height: 103px;
            background-color: $font-color;
            transform: rotate(-90deg) translate(0px, 155px);
        }
        &::after{
            content: "";
            width: 3px;
            height: 103px;
            background-color: $font-color;
            transform: rotate(-90deg) translate(0px, -155px);
    }
    }
    .change-next-page li{
        
       &.arrow-left{
        border: solid $font-color;
        border-width: 0px 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        margin-bottom: 6px;
        margin-right: 131px;
       }
       &.arrow-right{
        border: solid $font-color;
        border-width: 0px 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 6px;
        margin-left: 158px;
        transform: rotate(-45deg);
       }
    }
    .change-next-page a{
        font-size: $h3;
        color: $font-color;
}
}