@import url('../reset.css');

@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Ephesis&family=Noto+Sans+TC:wght@400;700&display=swap');

$our-font: "Enriqueta",
"Noto Sans TC"; // 英文 & 中文字體
$our-font2: "Ephesis",
cursive; // 手寫英文字體

$h1: 64px;
$h2: 48px;
$h3: 40px;
$h4: 32px;
$h5: 28px;
$h6: 24px;
$p: 16px;
$small: 12px;

$fw4: 400;
$fw7: 700;

$brown-color: #533C1B; // 主色棕
$carmel-color: #C09351; // 主色駝色
$carmel-tgh-color: rgb(192, 147, 81, .5); // 主色半透明駝色
$sub-skin-color: #f6e6cf; // 輔色淺膚色
$sub-carmel-color: #CFB58F; // 輔色卡其色
$sub-LTgray-color: #D9D9D9; // 輔色淺灰色
$sub-gray-color: #C3BCB1; // 輔色粉灰色
$sub-DKgray-color: #B3B3B3; // 輔色淺灰色
$font-color: #261C0D; // 字體色
$lakeGreen-color: #618985; // 對比色湖水綠色
@import url(../../../scss/base/var/_color.scss);

* {
    font-family: $our-font;
}

main.shops__Join__form {
    max-width: calc(100vw - 120px);
    margin: 100px auto;
}

.shops__Join__form {
    .breadcrumb {
        display: flex;
    }

    .breadcrumb li a {
        text-decoration: none;
        color: $font-color;
        line-height: 2;
        letter-spacing: 2px;
    }

    .breadcrumb .breadcrumb__a a {
        &::after {
            content: "";
            height: 14px;
            border-left: solid 1px black;
            display: inline-block;
            margin: 0 5px;

        }
    }

    .breadcrumb .breadcrumb__b a {
        color: $lakeGreen-color
    }

    ul.banner {
        height: 500px;
        margin: 0 auto;
        display: flex;
    }

    ul.banner li {
        background-position: center center;
        background-size: cover;
        transition: .5s;

        &:hover {
            flex-grow: 6;
        }
    }

    li.item1 {
        background-image: url("../../../img/shops__Join__form/shops__Join__form_1.png");
        flex-grow: 3;
    }

    .banner li.item2 {
        background-image: url("../../../img/shops__Join__form/shops__Join__form_2.png");
        flex-grow: 1;
        background-position: left center;
    }

    .join__application__title {
        margin: 50px 50px 100px;
    }

    .join__application__title div.join__application__title__eng {
        font-size: $h4;
        color: $brown-color;
        font-weight: bold;
        line-height: 1.6;
    }

    .join__application__title div.join__application__title__zh {
        font-size: $h5;
        color: $carmel-color;
        position: relative;
        display: block;
        margin-left: 220px;
        font-weight: bold;

        &::before {
            content: '';
            position: absolute;
            top: 49%;
            left: -15%;
            background: #533C1B;
            width: 14%;
            height: 2px;
        }
    }

    .Join__form {
        max-width: fit-content;
        margin: 0 auto;
    }

    .Join__form input.shop__name,
    .Join__form input.name,
    .Join__form input.phone,
    .Join__form input.email {
        width: 400px;
        height: 30px;
        border-color: #878787;
        border-bottom: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        outline: 0;
    }

    .Join__form input {
        margin-bottom: 50px;
    }

    .Join__form label {
        letter-spacing: 1px;
    }

    .Join__form input.shop__name {
        margin-left: 16px;
    }

    .Join__form div.shopstay__time {
        display: flex;

    }

    .Join__form div.shopstay__time__1,
    .Join__form div.shopstay__time__2,
    .Join__form div.shopstay__time__3 {
        margin-left: 15px;
    }

    .Join__form div.file {
        background-color: $sub-LTgray-color;
        width: 500px;
        height: 40px;
        margin: auto;
        text-align: center;
    }

    .Join__form .file__choose {
        position: relative;
        display: inline-block;
        background: $brown-color;
        border: 1px solid $brown-color;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: white;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;

        &:hover {
            background: $carmel-color;
            border-color:$carmel-color;
            color:  white;
            text-decoration: none;
        }
    }

    .Join__form .file__choose input{
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .Join__form p.Opinion {
        margin: 50px auto 20px;
    }

    .Join__form textarea.Opinion__text {
        width: 500px;
        resize: none;

    }

    .Join__form button.Join__form__btn {
        border: 2px solid$brown-color;
        background-color: white;
        width: 200px;
        height: 50px;
        color: $brown-color;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        display: block;
        text-align: center;
        transition: 0.3s;
        margin: 50px auto 50px;

    }













}