.log_in-wrapper {

    .log_in-bg {
        background-image: url(../img/log_in/bg.png);
        background-repeat: no-repeat;
        height: 1601px;
        margin-top: 80px;
        box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 30%);

        .log_in-login-box {
            width: 40%;
            height: 200px;
            margin-bottom: 60px;
            margin-left: 9%;

            h2 {
                font-family: $our-font;
                font-size: 48px;
                font-weight: bold;
                color: #533C1B;
                letter-spacing: .8rem;
                padding: 4rem 5.2rem 1rem;
            }

            h3 {
                font-size: 32px;
                font-weight: bold;
                color: #C09351;
                padding-bottom: 2rem;
                display: block;
                padding-left: 18vw;
                padding-right: 5.2rem;
                letter-spacing: .68rem;
                position: relative;

                &::after {
                    content: '';
                    height: 3px;
                    width: 120px;
                    background-color: #261C0D;
                    display: block;
                    position: absolute;
                    right: 58%;
                    bottom: 37px;

                }
            }

        }

        .log_in-login-content {
            margin: 0 auto;
            width: 45%;
            height: 660px;
            background-color: #fff;
            padding-top: 60px;

            .log_in-login-width {
                display: block;
                margin: 0 auto;
                width: 80%;

                .log_in-google-btn {
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                    background-color: #CFB58F;
                    text-align: center;
                    line-height: 70px;
                    text-decoration: none;

                    .log_in-h3 {
                        display: block;
                        position: relative;
                        width: 44%;
                        margin: 0 auto;
                    }

                    .log_in-h3::before {
                        content: url(../img/log_in/google\ icon.png);
                        position: absolute;
                        left: -55px;
                        top: 18%;
                    }
                }

                .log_in-or {
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                .log_in-dotted-line {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 78px;

                    p {
                        font-size: 16px;
                        margin-left: 20px;
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }

                    input {
                        display: block;
                        margin: 0 auto;
                        width: 95%;
                        height: 50px;
                        border-radius: 3px;
                        margin-bottom: 20px;
                        font-size: 16px;
                        border-color: #261C0D;
                    }

                }

                button {
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    height: 50px;
                    background-color: #533C1B;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                }

                .log_in-last-line {
                    padding-top: 25px;
                    width: 200px;
                    display: block;
                    margin: 0 auto;

                    .log_in-singin {
                        float: left;
                        text-decoration: none;
                    }

                    .log_in-foreget-pwd {
                        float: right;
                        text-decoration: none;
                    }

                }

            }


        }

    }

}

.log_in-wrapper .log_in-bg .log_in-login-content .log_in-login-width .log_in-last-line .log_in-foreget-pwd {
    float: right;
    text-decoration: none;
    transform: scale(1.2);
    color: #C09351;
}

.log_in-wrapper .log_in-bg .log_in-login-content .log_in-login-width .log_in-google-btn {
    display: block;
    margin: 0 auto;
    height: 70px;
    background-color: #CFB58F;
    text-align: center;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.log_in-wrapper .log_in-bg .log_in-login-content .log_in-login-width .log_in-last-line .log_in-singin{
    transform: scale(1.2);
    color: #C09351;
}