@import '../../base/var/_breakpoint.scss';
@import '../../base/var/_color.scss';
@import '../../base/var/_font.scss';
@import '../../component/component';
.shops{
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1280px;
    height: 2000px;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
    .title-box{
        width: 100%;
        height: 80px;
        margin-left: 120px;
        margin-bottom: 80px;
        position: relative;
        h2{
            font-family: 'Enriqueta', serif;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: .2rem;
            color: #533C1B;
        }
        p{
            margin-left: 150px;
            font-size: 32px;
            font-weight: 500;
            color: #C09351;
        }
        .line{
            position: absolute;
            bottom: 15px;
            width: 100px;
            height: 4px;
            background-color: #533C1B;
            margin-left: 40px;
        }
    }
    .shopsbox-area{
        margin: 10px auto;
        width: 80%;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        .store{
            position: relative;
            img{
                filter: grayscale(1);
                left: 0%;
                transition: all 0.5s;
            }
            .store-textbox{
                left: 50%;
                transition: all 1s;
            }
            .store-textbox2{
                left: 50%;
                transition: all 1s;
            }
            &:hover{
                img{
                    filter: grayscale(0);
                    left: 10%;
                    transition: all 0.5s;
                }
                .store-textbox{
                    left: 0%;
                    transition: all 1s;
                }
                .store-textbox2{
                    left: 0%;
                    transition: all 1s;
                }
            }
        }
        .store1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .store2{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .store3{
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .store4{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .store5{
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        // area 2
        .store6{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .store7{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .store8{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .store9{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        div.store{
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                left: 0;
                position: absolute;
                filter: grayscale(1);
                transition: all 1.5s;
            }
            .store-textbox{
                width: 50%;
                height: 100%;
                background-color: rgb(231, 231, 231);
                position: absolute;
                left: -50%;
                transition: all 1.5s;
                h6{
                    width: 80%;
                    font-weight: 600;
                    font-size: 24px;
                    color: #533C1B;
                    margin-top: 20%;
                    margin-left: 10%;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #533C1B;
                }
                p{
                    width: 80%;
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 10%;
                    margin-left: 10%;
                    line-height: 1.3;
                }
            }
            .store-textbox2{
                width: 50%;
                height: 100%;
                background-color: rgb(231, 231, 231);
                position: absolute;
                left: -50%;
                transition: all 1.5s;
                h6{
                    width: 80%;
                    font-weight: 600;
                    font-size: 20px;
                    color: #533C1B;
                    margin-top: 20%;
                    margin-left: 10%;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #533C1B;
                }
                p{
                    width: 80%;
                    font-size: 12px;
                    font-weight: 500;
                    margin-top: 10%;
                    margin-left: 10%;
                    line-height: 1.3;
                }
            }
        }
    }
    .title-box-pos2{
        margin-top: 160px;
    }
    .joinus-area{
        margin: 10px auto;
        width: 80%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        .infobox{
            grid-column-start: 1;
            grid-column-end: 4;
            background-color: rgb(234, 234, 234);
            box-shadow: 3px 3px 4px rgb(160, 160, 160);
            padding-top: 40px;
            padding-left: 40px;
            h6{
                font-weight: 600;
                font-size: 20px;
                color: #533C1B;
                margin-bottom: 20px;
                border-left: 4px solid #CFB58F;
                padding-left: 10px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.3;
                margin-bottom: 20px;
            }
        }
        .imgbox{
            grid-column-start: 4;
            grid-column-end: 6;
            background-image: url(../../../img/shops/j01.png);
            background-position: center;
            background-size: cover;
        }
    }
    .joinus-area-2{
        margin: 10px auto;
        width: 80%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        .infobox{
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: rgb(234, 234, 234);
            box-shadow: 3px 3px 4px rgb(160, 160, 160);
            padding-top: 40px;
            padding-left: 40px;
            h6{
                font-weight: 600;
                font-size: 20px;
                color: #533C1B;
                margin-bottom: 20px;
                border-left: 4px solid #CFB58F;
                padding-left: 10px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 2;
                margin-bottom: 20px;
            }
        }
        .imgbox{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            background-image: url(../../../img/shops/j02.png);
            background-position: center;
            background-size: cover;
        }
    }
}