.warpper-news-detail{
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        margin-top: 80px;
        font-family: $our-font;
    .detail-information{// 消息區  
        line-height: 2; 
    }
    .detail-information small{
        font-size: $p;
        color: $sub-DKgray-color;
        margin-left: 161px;
    }
    .detail-information h3{
        font-size: $h3;
        font-weight: bold;
        margin-left: 161px;
    }
    .detail-information img{
        height: 340px;
        display: block;
        margin: 0 auto;
    }
    .detail-information h4{
        font-size: 16px;
        width: fit-content;
        padding-top: 60px;
        margin: 0 auto;
    }

    .change-next-page ul{//換頁 
        display: flex;
        margin: 70px auto;
        align-items: center;
        justify-content: space-around;
        &::before{
            content: "";
            width: 3px;
            height: 103px;
            background-color: $font-color;
            transform: rotate(-90deg) translate(0px, 155px);
        }
        &::after{
            content: "";
            width: 3px;
            height: 103px;
            background-color: $font-color;
            transform: rotate(-90deg) translate(0px, -155px);
    }
    }
    .change-next-page li{
        
       &.arrow-left{
        border: solid $font-color;
        border-width: 0px 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        margin-bottom: 3.5px;
        margin-right: 163px;
       }
       &.arrow-right{
        border: solid $font-color;
        border-width: 0px 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 3.5px;
        margin-left: 163px;
        transform: rotate(-45deg);
       }
    }
    .change-next-page a{
        font-size: 24px;
        letter-spacing: 0.2rem;
        color: #261C0D;
}
}