.event_detail-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  max-width: calc(100vw - 120px);
}
.event_detail-wrapper .event_detail-breadcrumb {
  display: flex;
  list-style-type: none;
  font-size: 12px;
}
.event_detail-wrapper .event_detail-breadcrumb li {
  padding-left: 20px;
  color: #261C0D;
  position: relative;
}
.event_detail-wrapper .event_detail-breadcrumb li::after {
  content: "";
  display: block;
  height: 12px;
  width: 1px;
  background-color: #261C0D;
  position: absolute;
  top: 0px;
  left: 10px;
}
.event_detail-wrapper .event_detail-breadcrumb li:first-child::after {
  display: none;
}
.event_detail-wrapper .event_detail-breadcrumb li:last-child {
  color: #618985;
}
.event_detail-wrapper main {
  margin-bottom: 230px;
}
.event_detail-wrapper main .event_detail-banner img {
  width: 100%;
  margin-bottom: 50px;
}
.event_detail-wrapper main .event_detail-main-content {
  margin-bottom: 230px;
  height: 380px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-left {
  width: 50%;
  float: left;
  color: #261C0D;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-left h3 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 80px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-left p {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  line-height: 45px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right {
  width: 50%;
  float: right;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap {
  width: 65%;
  margin: 0 auto;
  padding-top: 35px;
  margin-bottom: 275px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-price {
  display: block;
  float: right;
  font-size: 40px;
  color: #618985;
  font-weight: bold;
  margin-right: 8%;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap div {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #261C0D;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap select {
  width: calc(79% + 80px);
  height: 40px;
  font-size: 20px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-ticket-type {
  border: 1px solid #C09351;
  color: #261C0D;
  outline: none;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-number-button {
  width: 100%;
  height: 40px;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-number-button .qtyminus, .event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-number-button .qtyplus {
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 100%;
  color: #fff;
  background-color: #C09351;
  border: none;
  cursor: pointer;
}
.event_detail-wrapper main .event_detail-main-content .event_detail-main-content-right .event_detail-main-content-right-wrap .event_detail-number-button .qty {
  margin: -5px;
  padding: 0px;
  height: 100%;
  width: 79%;
  text-align: center;
  border: 1px solid #C09351;
  outline: none;
}
.event_detail-wrapper .event_detail-ticket-price, .event_detail-wrapper .event_detail-ticket-info, .event_detail-wrapper .event_detail-attention {
  margin-left: 5%;
  width: 90%;
}
.event_detail-wrapper .event_detail-ticket-price h3, .event_detail-wrapper .event_detail-ticket-info h3, .event_detail-wrapper .event_detail-attention h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  color: #533C1B;
}
.event_detail-wrapper .event_detail-ticket-price li, .event_detail-wrapper .event_detail-ticket-info li, .event_detail-wrapper .event_detail-attention li {
  line-height: 3;
  font-size: 24px;
  color: #261C0D;
}
.event_detail-wrapper .event_detail-ticket-price li:last-child, .event_detail-wrapper .event_detail-ticket-info li:last-child, .event_detail-wrapper .event_detail-attention li:last-child {
  margin-bottom: 100px;
}
.event_detail-wrapper .event_detail-attention li:last-child {
  margin-bottom: 300px;
}

/*# sourceMappingURL=event_detail.css.map */
