@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Ephesis&family=Noto+Sans+TC:wght@400;700&display=swap');

$our-font: "Enriqueta", "Noto Sans TC"; // 英文 & 中文字體
$our-font2: "Ephesis", cursive; // 手寫英文字體

$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 26px;
$h5: 22px;
$h6: 18px;
$p: 16px; // I need 18px~~~~~
$small: 12px;

h6 {
    font-size: $h6;
}
<<<<<<< HEAD
$fw4: 400;  
=======

$fw4: 400;
>>>>>>> 4de2adc6efc8229fe2977a333565644235585b6f
$fw7: 700;