.warpper-event-all {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
    font-family: $our-font;

   
        //麵包屑 
    .breadcrumb{
        
        @include rwd(1024px){
            padding: 10px 5%;
        }
        @include rwd(912px){
            padding: 10px 6%;
        }
        @include rwd(820px){
            padding: 10px 7%;
        }
        @include rwd(540px){
            
        }
        @include rwd(426px){
            
        }
        @include rwd(414px){
           
        }
        @include rwd(376px){
            
        }
    }     
    .swiper {
        //輪播圖
        width: 100%;
        height: 340px;
        --swiper-navigation-size: 0;
    }

    .swiper-slide {
        display: flex;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // -webkit-justify-content: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // -webkit-align-items: center;
    }

    .swiper-button-next {
        margin-right: 52px;

        i.fa-solid.fa-circle-arrow-right {
            font-weight: 900;
            color: #c09351;
            font-size: 30px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    .swiper-button-prev {
        margin-left: 52px;

        i.fa-solid.fa-circle-arrow-left {
            font-weight: 900;
            color: #c09351;
            font-size: 30px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: #C09351;
    }

    .swiper-wrapper{
        // width: 90%;
        // display: block;
        // margin: 0 auto;
    }
    .swiper-slide{
        background-repeat: no-repeat;
        // background-size: cover;

        @include rwd(1024px){
            width: 85%;
        }
        @include rwd(820px){
            
        }
        @include rwd(768px){
            
        }
        @include rwd(540px){
            
        }
        @include rwd(426px){
            
        }
        @include rwd(414px){
           
        }
        @include rwd(376px){
            
        }
    }

    .banner {
        position: static;

        .banner__img {}

        .banner__textarea {
            position: static;
            .banner__zh{
                
                @include rwd(426px){
                    font-size: 22px;
                    letter-spacing: 0.3rem;
                    }
                   
                }
            
            .banner .banner__zh::before{

                @include rwd(426px){
                width: 25vw;
                margin-right: 0.8rem;
                }
            }
            .banner__eng{

                @include rwd(426px){
                    font-size: 24px;
                    letter-spacing: 0.2rem;
                    padding: 3.2rem 2.6rem 0rem;
                    line-height: 1.5;
                    }
                }
            }
        }
        
        
    



    .exhibition {
        //展演活動
        width: 40%;
        margin: 40px;
        font-weight: bold;
        position: relative;
        letter-spacing: 5px;

        .exhib-1 {
            font-size: $h1;
            color: $brown-color;
            letter-spacing: 5px;
        }

        .exhib-2 {
            font-size: $h3;
            color: #C09351;
            text-align: right;

            &::after {
                position: absolute;
                content: "";
                left: 89px;
                bottom: 9px;
                width: 210px;
                height: 3px;
                background: $brown-color;
            }
        }
    }


.exhibition-event {
    //展演區
    line-height: 1.5;
    margin: 95px 50px 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 20px 22px;

    @include rwd(426px){
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        margin: 0px 10px 0px;
        gap: 20px 10px;
        }
    }

    img {
        width: 100%;
    }

    p {
        font-size: $small;
        color: gray;
        width: 40%;
        text-align: left;
        padding-left: 5px;

        &:nth-child(2) {
            color: white;
            background-color: $lakeGreen-color;
            font-size: $p;
            margin: 10px;
            margin-left: revert;
        }

        &:nth-child(3) {
            color: white;
            font-size: $p;
            background-color: $secondary2-color;
        }
    }

    h6 {
        font-size: $h5;
        font-weight: bold;
        color: $font-color;
        margin-top: 30px;
    }

    
    /*-- 按紐 --*/
    .page-link {
        color: #000;
        font-weight: bold;
        border: 1px solid #261C0D;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border: none;
        font-weight: bold;
    }

    .page-link:hover {
        color: #fff;
        background-color: $font-color;
    }
}
