@import'../../base/reset';
@import'../../base/var/color';
@import'../../base/var/font';
body{
    $our-font: "Enriqueta", "Noto Sans TC";
    $our-font2: "Ephesis", cursive;
    $font-color: #261C0D;
    $fw4: 400;
}
.warpper-event-all{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: 107px;
    .bread-event{  //麵包屑
        position: relative;
        margin-left: 20px;
    }
    .bread-event ol{
        display: flex;
        }
    .bread-event li{
        margin: 9px 8px;
        font-size: 12px;
        font-weight: bolder;
        &:first-child::after{
            content: "";
        position: absolute;
        left: 40px;
        bottom: 10px;
        width: 1px;
        background: black;
        height: 12px;
        }
        }
    .bread-event li a {
        text-decoration: none;
        color: #000;
        &:hover{
            color: #618985;
        }
        }
    .swiper-carousel-event{
        width: 100%;
    }
    .carousel-wrapper-event{
        .event-slide1{
            background-image: url(/img/event/event-main1.png);
            height: 500px;
            background-position: right center;
        }
    }
    .exhibition{ //展演活動
        width: 45%;
        margin: 40px;
        font-weight: bold;
        position: relative;
        .exhib-1{
            font-size: 64px;
            color: #533C1B;
        }
        .exhib-2{
            font-size: 40px;
            color: #C09351;
            text-align: right;
            &::after{
                position: absolute;
                content: "";
                left: 98px;
                bottom: 9px;
                width: 235px;
                height: 3px;
                background: #533C1B;
            }
        } 
    }
    .exhibition-event{ //展演區
        $grid-columns:12;
        @for $i from 1 through $grid-columns{
            .eventshow-#{$i}{
                width: 33%;
                border: 1px solid green;
            }
        }
    img{
        width: 100%;
    }
    p{
        font-size: 12px;
        color: #D9D9D9;
        &:nth-child(2){
            background-color: #618985;
        }
    }
    small{
        font-size: 12px;
        color: #D9D9D9;
        background-color: #CFB58F; ;
    }
    }
    
    
}
