.b-salesoverview {
  max-width: 1280px;
  margin-top: 90px;
}

.b-salesoverview p {
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
}

.b-salesoverview h6 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
}

.b-salesoverview h5 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
}

.info-box1 {
  background-color: #ccc;
  height: 200px;
}
.info-box1 p {
  width: 100%;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
}
.info-box1 ul {
  width: 100%;
  display: flex;
}
.info-box1 ul li {
  width: 25%;
  height: 100px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-right: #333 2px solid;
}
.info-box1 ul li h6 {
  margin-bottom: 40px;
}
.info-box1 ul li:last-child {
  border-right: none;
}

.b-salesoverview .text {
  display: inline-block;
  margin-left: 80px;
  margin-top: 40px;
}

.b-salesoverview .gray-text {
  display: inline-block;
  margin-left: 20px;
  color: #666;
}

.switch-btn-group {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: 80px;
}

.switch-btn {
  width: 80px;
  height: 30px;
  position: relative;
  text-align: center;
}

.switch-btn label,
.switch-btn input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  outline: none;
  color: #333;
  background-color: #C3BCB1;
  height: 30px;
  width: 80px;
  line-height: 30px;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans TC", sans-serif;
}

.switch-btn input[type=radio] {
  opacity: 0.011;
  z-index: 100;
  cursor: pointer;
}

.switch-btn input[type=radio]:checked + label {
  border-radius: 4px;
  background-color: #333;
  color: #ffffff;
}

.switch-btn label {
  cursor: pointer;
  z-index: 90;
}

.b-salesoverview .sub-text {
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
  padding-left: 10px;
  color: #333;
  border-left: 4px solid #333;
}

.info-box2 {
  background-color: #ccc;
  height: 120px;
}
.info-box2 p {
  width: 100%;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
}
.info-box2 ul {
  width: 100%;
  display: flex;
}
.info-box2 ul li {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-right: #333 2px solid;
}
.info-box2 ul li h6 {
  margin-bottom: 20px;
}
.info-box2 ul li:last-child {
  border-right: none;
}

.info-box3 {
  margin-top: 20px;
  background-color: #ccc;
  height: 120px;
}
.info-box3 p {
  width: 100%;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
}
.info-box3 ul {
  width: 100%;
  display: flex;
}
.info-box3 ul li {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-right: #333 2px solid;
}
.info-box3 ul li h5 {
  font-size: 20px;
}
.info-box3 ul li:last-child {
  border-right: none;
}

.info-box4 {
  background-color: #ccc;
  height: 260px;
  position: relative;
}
.info-box4 p {
  width: 100%;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
}
.info-box4 h5 {
  margin-top: 30px;
  margin-left: 30px;
}
.info-box4 ul {
  width: 60%;
  margin-top: 30px;
}
.info-box4 ul li {
  width: 100%;
  height: 30px;
  margin-left: 30px;
  border-bottom: #333 1px solid;
}
.info-box4 ul li .color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.info-box4 ul li h6 {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}
.info-box4 ul li .text-float {
  float: right;
  margin-top: 5px;
}
.info-box4 .pie-chart {
  position: absolute;
  right: 30px;
  top: 60px;
  background-color: #fff;
  width: 180px;
  height: 180px;
}

.info-box5 {
  background-color: #ccc;
  margin-bottom: 60px;
}
.info-box5 p {
  width: 100%;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
}
.info-box5 ul {
  width: 100%;
  display: inline-block;
}
.info-box5 ul li {
  display: flex;
  width: 90%;
  margin-left: 5%;
  border-bottom: #333 2px solid;
}
.info-box5 ul li a {
  display: flex;
  width: 100%;
  height: 100%;
}
.info-box5 ul li a div {
  width: 15%;
  height: 40px;
  text-align: center;
}
.info-box5 ul li a div h6 {
  line-height: 40px;
}
.info-box5 ul li a .add-w {
  width: 40%;
}
.info-box5 ul li:last-child {
  border-bottom: none;
}

/*# sourceMappingURL=b-salesoverview.css.map */
